@(dvd: forms.InfoDvd) 

@subDvdDisplay(subDvds : List[forms.CollectionDvd], dvd:forms.InfoDvd, title: String, subTitle: String) = {
  @if(subDvds != null) {
    <fieldset class="well">
      <h3>Dvds in the @title <i>@subTitle:</i></h3>
      
       <div class="row-fluid">
       <ul class="thumbnails">
         @for(subDvd <- subDvds) {
           <li class="span2 dvdListHeight">             
             <a class="thumbnail dvdDisplayContainer dvdListHeight btn displayInfoButton" href="#" data-dvd-id="@subDvd.id">
               @if(subDvd.hasPoster != null && subDvd.hasPoster == true) {
                 <img src="@routes.Dashboard.streamImage(subDvd.movieId,"POSTER","SMALL")"/>
               } else {
                 <img src="http://placehold.it/92x138/4D99E0/ffffff.png&text=No%20Poster"/>
               }
               <div class="caption">  
                 <h5>@subDvd.title</h5>
               </div>
             </a>
           </li>
         }
       </ul>       
       </div>      
    </fieldset>
  }
}

<div class="row-fluid">
<div class="span12">

  <fieldset class="well">
    <h2>Plot:</h2>
    <p>@dvd.movieForm.plot</span>
  </fieldset>
  
  <fieldset class="well">
    
    <h2>Info:</h2>
    
    <div class="row-fluid">
      <div class="span4">
    
    <div class="row-fluid">
      <label class="span4">Owner:</label>
      <span>
        <a href="@routes.ListDvds.listByUser(dvd.dvdForm.ownerName,0)">
          <img src="@routes.Dashboard.gravatar(50,dvd.dvdForm.ownerName)" />
          @dvd.dvdForm.ownerName
        </a>
      </span>
    </div>
    
    @if(dvd.borrowedBy != null) {
      <div class="row-fluid">
        <label class="span4">Borrowed by:</label>
        <span>
          <img src="@routes.Dashboard.gravatar(50,dvd.borrowedBy)" />
          @dvd.borrowedBy 
          (@dvd.borrowedOn)
        </span>
      </div>
    }
    
    <div class="row-fluid">
      <label class="span4">Hull Nr.:</label>
      <span>@dvd.dvdForm.hullNr</span>
    </div>
    
    <div class="row-fluid">
      <label class="span4">Runtime:</label>
      <span>@dvd.movieForm.runtime</span>
    </div>  
    
    <div class="row-fluid">
      <label class="span4">Year:</label>
      <span>@dvd.movieForm.year</span>
    </div>
    
    <div class="row-fluid">
      <label class="span4">Director:</label>
      <span><a href="@routes.ListDvds.listByDirector(dvd.movieForm.director)">@dvd.movieForm.director</a></span>
    </div>
    
    </div>
    <div class="span4">
    
    <div class="span12">
      <dl>
        <dt>Genres:</dt>
        @for(genre <- dvd.movieForm.genres) {
          <dd><a href="@routes.ListDvds.listByGenre(genre,0)">@genre</a></dd>
        }
      </dl>
    </div>
    </div>
    <div class="span4">
    
    <div class="span12">
      <dt>Actors:</dt>
      <dl>
        @for(actor <- dvd.movieForm.actors) {
          <dd><a href="@routes.ListDvds.listByActor(actor)">@actor<a></a></dd>
        }
      </dl>
    </div>
    </a>
    
  </div>  
    
  </fieldset>  
  
  @subDvdDisplay(dvd.boxDvds, dvd, "box",dvd.dvdForm.box)
  
  @subDvdDisplay(dvd.collectionDvds, dvd, "collection",dvd.dvdForm.collection)

</div>
</div>

<script type="text/javascript">
@if(dvd.movieForm.hasBackdrop != null && dvd.movieForm.hasBackdrop == true) {
  $('#dvdInfoDialog').css('background-image',"url('@routes.Dashboard.streamImage(dvd.movieForm.movieId,"BACKDROP","ORIGINAL")')");
} else {
	$('#dvdInfoDialog').css('background-image','none');
}
</script>


