@(dvd: forms.dvd.objects.InfoDvd)(username: String)
@import org.apache.commons.collections.CollectionUtils
@import org.apache.commons.lang.StringUtils
@import helpers.EImageSize

@scripts = {
  <script type="text/javascript">
    $(function() {
      @if(dvd.movieForm.hasBackdrop != null && dvd.movieForm.hasBackdrop == true) {
        $('body').css('background-image',"url('@routes.Dashboard.streamImage(dvd.movieForm.movieId,"BACKDROP","BACKCKDROP_POPUP_SIZE")')");
      }
      $('.tooltipo').tooltip();
    $(document).on('click','.coverwrapper em, .coverwrapper_small em, a.displayCopy',function(event){


    var copyId = $(this).data('dvdId');

    // testing style
    window.location = jsRoutes.controllers.Dashboard.displayCopyOnPage(copyId).absoluteURL(appIsInHttps);
    return;

    displayAjaxDialog({
    route: jsRoutes.controllers.Dashboard.displayDvd(copyId),
    title: 'Is set from the displaydvdSacla',
    cssClass:	'dvdInfoModal',
    onClose: function() {
    $('#modal .modal-body').css('background-image', 'none');
    },
    onOpen: function() {
    $('.dvdInfoModal .tooltipo').tooltip().on('show', function(e) {e.stopPropagation();}).on('hide', function(e) {e.stopPropagation();});
    }
    });
    return false;
    });
    });
  </script>
}

@mainmenu("Copy "+dvd.title,scripts) {
<div class="row displayCopyWrapper">

  <div class="well row">

    <h3>@dvd.title</h3>

    <div class="row">

      <div class="span4">

        <dl class="dl-horizontal">

          <dt>Owner:</dt>
          <dd>
            <a href="@routes.ListDvdsController.listByUser(dvd.dvdForm.ownerName)">
              <img class="img-rounded"  src="@routes.Dashboard.gravatar(25,dvd.dvdForm.ownerName)" width="25" height="25" /> @dvd.dvdForm.ownerName
            </a>
          </dd>

          @if(dvd.borrowedBy != null) {
            <dt>Lent to:</dt>
            <dd>
              <img class="img-rounded" src="@routes.Dashboard.gravatar(25,dvd.borrowedBy)" width="25" height="25" />
              @dvd.borrowedBy
              (@dvd.borrowedOn)
            </dd>
          }

          @if(dvd.dvdForm.copyType != null) {
            <dt>Type:</dt>
            <dd><img class="img-rounded" alt="@dvd.dvdForm.copyType" src="@routes.Assets.at("images/copy_type/"+dvd.dvdForm.copyType+".png")" /></dd>
          }

          @if(dvd.dvdForm.ageRating != null) {
            <dt>Age Rating:</dt>
            <dd><img  class="img-rounded" alt="@dvd.dvdForm.ageRating" src="@routes.Assets.at("images/agerating/"+dvd.dvdForm.ageRating+".gif")" /></dd>
          }

          @if(dvd.dvdForm.hullNr != null) {
            <dt class="span4">Hull Nr.:</dt>
            <dd><a href="@routes.ListDvdsController.searchDvd?searchFor=@models.Dvd.HULL_NR_SEARCH @dvd.dvdForm.hullNr">@dvd.dvdForm.hullNr</a></dd>
          }

        </dl>

        @if(CollectionUtils.isEmpty(dvd.dvdForm.audioTypes ) == false) {
          <h5>Audio:</h5>

            <ul class="inline">
            @for(audioType <- dvd.dvdForm.audioTypes) {
              <li>@audioType</li>
            }
            </ul>

        }

      </div>

      <div class="span4">
        <dl class="dl-horizontal">

          <dt>Movie Series</dt>
          <dd>@dvd.movieForm.series</dd>


          <dt>Runtime:</dt>
          <dd>@dvd.movieForm.runtime</dd>

          <dt>Year:</dt>
          <dd>@dvd.movieForm.year</dd>

          @if(StringUtils.isEmpty(dvd.movieForm.director) == false) {
            <dt>Director:</dt>
            <dd><a href="@routes.ListDvdsController.listByDirector(dvd.movieForm.director)">@dvd.movieForm.director</a></dd>
          }

          @if(StringUtils.isEmpty(dvd.dvdForm.asinNr) == false || StringUtils.isEmpty(dvd.movieForm.imdbId) == false) {
            <dt>Informations:</dt>
            <dd>
              @if(StringUtils.isEmpty(dvd.dvdForm.asinNr) == false ) {
                <a href="http://www.amazon.de/dp/@dvd.dvdForm.asinNr" target="_blank"><img src="@routes.Assets.at("images/amazon.jpg")" /></a>
              }
              @if(StringUtils.isEmpty(dvd.movieForm.imdbId ) == false) {
                <a href="http://www.imdb.com/title/@dvd.movieForm.imdbId" target="_blank"><img src="@routes.Assets.at("images/imdb.jpg")" /></a>
              }
            </dd>
          }

        </dl>
      </div>

      <div class="span3 pull-right">
        @general.displayposter(dvd.movieForm.movieId, dvd.movieForm.hasPoster, EImageSize.SMALL)
      </div>
    </div>
  </div>

  @if(StringUtils.isEmpty(dvd.movieForm.trailerUrl) == false || StringUtils.isEmpty(dvd.movieForm.plot) == false) {
    <div class="row well">

      @if(StringUtils.isEmpty(dvd.movieForm.plot) == false) {
        <div @if(StringUtils.isEmpty(dvd.movieForm.trailerUrl) == false) {class="span6"}>
          <h5>Plot:</h5>
          <p>@dvd.movieForm.plot</p>
        </div>
      }

      @if(StringUtils.isEmpty(dvd.movieForm.trailerUrl) == false) {
        <div @if(StringUtils.isEmpty(dvd.movieForm.plot) == false) {class="span5"}>
          <h5>Trailer:</h5>
          <iframe width="400" height="225"  src="http://www.youtube.com/embed/@dvd.movieForm.trailerUrl" frameborder="0" allowfullscreen></iframe>
        </div>
      }
    </div>
  }

   @if(CollectionUtils.isEmpty(dvd.movieForm.genres) == false || CollectionUtils.isEmpty(dvd.movieForm.actors) == false) {
     <div class="row well">
       <div class="span6">
         <h5>Genres:</h5>
         <ul class="inline">
         @for(genre <- dvd.movieForm.genres) {
           <li><a href="@routes.ListDvdsController.listByGenre(genre)">@genre</a></li>
         }
        </ul>
       </div>

       <div class="span5">
         <h5>Actors:</h5>
         <ul class="inline">
           @for(actor <- dvd.movieForm.actors) {
             <li><a href="@routes.ListDvdsController.listByActor(actor)">@actor</a></li>
           }
         </ul>
       </div>
     </div>
   }

  @dashboard.displaysubdvd(dvd.boxDvds, dvd, "box",dvd.dvdForm.box,username)
    
  @dashboard.displaysubdvd(dvd.collectionDvds, dvd, "collection",dvd.dvdForm.collection,username)
  
  @dashboard.displaysubdvd(dvd.seriesDvd, dvd, "movie series "+dvd.movieForm.series,dvd.dvdForm.collection,username)
</div>
}


