@(subDvds : List[forms.dvd.objects.CollectionDvd], dvd: forms.dvd.objects.InfoDvd, title: String, subTitle: String, username:String)

@import helpers.EImageSize

@if(subDvds != null && subDvds.size > 0) {
  <div class="well row">
    <h5>@Messages.apply("headline.subCopies") @title <i>@subTitle</i>:</h5>
    <div class="row">

      <ul class="copyItemList">
      @for(dvd <- subDvds) {
        <li class="span2 coverwrapper_small_li">
          <div class="coverwrapper_small">
            <em data-dvd-id="@dvd.id" class="tooltipo @dvd.copyTypeAttribute"  data-toggle="tooltip" data-original-title="@dvd.title @if(dvd.borrowerName != null){(@dvd.borrowerName)} @if(dvd.hullNr != null) { (@dvd.hullNr) }">
              @if(dvd.borrowerName != null){
                <div class="coverborrowed  @if(dvd.borrowerName == username) {selfBorrowed}"></div>
              }
            <div class="rateWrapper"><img  src="@routes.Assets.at("images/agerating/"+dvd.ageRating+".gif")" /></div>
            </em>
            <a>
            @general.displayposter(dvd.movieId,dvd.hasPoster,EImageSize.SMALL_LIST_VIEW)
            </a>
          </div>
        </li>
      }
      </ul>
    </div>
  </div>
}
