@import forms.dvd.objects.CopyInfo
@(dvd: CopyInfo)(username: String)
@import org.apache.commons.collections.CollectionUtils
@import org.apache.commons.lang.StringUtils


<div class="row-fluid" xmlns="http://www.w3.org/1999/html" >
<div class="span12">

  @*dashboard.comments.displayComments(dvd.commentable,dvd.movieForm.movieId)*@

  <fieldset class="well">
    <h2>Plot:</h2>
    <p>@dvd.movieForm.plot</p>
  </fieldset>
  
  <fieldset class="well">
    
    <h2>Info:</h2>
    
    <div class="row-fluid">
      <div class="span4">
    
    <div class="row-fluid">
      <label class="span4">Owner:</label>
      <span>
        <a href="@routes.ListCopiesController.listByUser(dvd.copyForm.ownerName)">
          @views.html.dashboard.userImage(dvd.copyForm.ownerName,dvd.copyForm.ownerHasGravatar,50)
          @dvd.copyForm.ownerName
        </a>
      </span>
    </div>
    
    @if(dvd.borrowedBy != null) {
      <div class="row-fluid">
        <label class="span4">Borrowed by:</label>
        <span>
          @views.html.dashboard.userImage(dvd.copyForm.ownerName,dvd.copyForm.ownerHasGravatar,50)
          @dvd.borrowedBy 
          (@dvd.borrowedOn)
        </span>
      </div>
    }
    
    <div class="row-fluid">
      <label class="span4">Movie Series:</label>
      <span>@dvd.movieForm.series</span>
    </div>

    @if(StringUtils.isEmpty(dvd.copyForm.additionalInfo) == false) {
      <div class="row-fluid">
        <label class="span4">Additional copy info:</label>
        <span>@dvd.copyForm.additionalInfo</span>
      </div>
    }

    @if(StringUtils.isEmpty(dvd.copyForm.asinNr) == false || StringUtils.isEmpty(dvd.movieForm.imdbId) == false) {
      <div class="row-fluid">
        <label class="span4">Informations:</label>
        <span>
          @if(StringUtils.isEmpty(dvd.copyForm.asinNr) == false ) {
            <a href="http://www.amazon.de/dp/@dvd.copyForm.asinNr" target="_blank"><img src="@routes.Assets.versioned("images/amazon.jpg")" /></a>
          }
          @if(StringUtils.isEmpty(dvd.movieForm.imdbId ) == false) {
            <a href="http://www.imdb.com/title/@dvd.movieForm.imdbId" target="_blank"><img src="@routes.Assets.versioned("images/imdb.jpg")" /></a>
          }
        </span>
      </div>
    }

    
    @if(dvd.copyForm.copyType != null) {
      <div class="row-fluid">
        <label class="span4">Type:</label>
        <span><img class="img-rounded" alt="@dvd.copyForm.copyType" src="@routes.Assets.versioned("images/copy_type/"+dvd.copyForm.copyType+".png")" /> @dvd.copyForm.copyType</span>
      </div>
    }
    
    @if(dvd.copyForm.ageRating != null) {
      <div class="row-fluid">
        <label class="span4">Age Rating:</label>
        <span><img  class="img-rounded" alt="@dvd.copyForm.ageRating" src="@routes.Assets.versioned("images/agerating/"+dvd.copyForm.ageRating+".gif")" /> @dvd.copyForm.ageRating</span>
      </div>
    }
    
    @if(dvd.copyForm.hullNr != null) {
      <div class="row-fluid">
        <label class="span4">Hull Nr.:</label>
        <span>      
          <a href="@routes.ListCopiesController.searchDvd?searchFor=@models.Dvd.HULL_NR_SEARCH @dvd.copyForm.hullNr">@dvd.copyForm.hullNr</a>
        </span>
      </div>
    }

    @if(CollectionUtils.isEmpty(dvd.copyForm.audioTypes ) == false) {
      <div class="row-fluid">
        <label class="span4">Audio:</label>
        <span>
          <ul class="unstyled">
            @for(audioType <- dvd.copyForm.audioTypes) {
              <li>@audioType</li>
            }
          </ul>
        </span>
      </div>
    }
    
    <div class="row-fluid">
      <label class="span4">Runtime:</label>
      <span>@dvd.movieForm.runtime</span>
    </div>  
    
    <div class="row-fluid">
      <label class="span4">Year:</label>
      <span>@dvd.movieForm.year</span>
    </div>

    @if(StringUtils.isEmpty(dvd.movieForm.director) == false) {
      <div class="row-fluid">
        <label class="span4">Director:</label>
        <span><a href="@routes.ListCopiesController.listByDirector(dvd.movieForm.director)">@dvd.movieForm.director</a></span>
      </div>
    }
    
    </div>
    <div class="span4">

    <div class="span12">
      <dl>
        <dt>Genres:</dt>
        @for(genre <- dvd.movieForm.genres) {
          <dd><a href="@routes.ListCopiesController.listByGenre(genre)">@genre</a></dd>
        }
      </dl>
    </div>
    </div>
    <div class="span4">
    
    <div class="span12">
      <dt>Actors:</dt>
      <dl>
        @for(actor <- dvd.movieForm.actors) {
          <dd><a href="@routes.ListCopiesController.listByActor(actor)">@actor<a></a></dd>
        }
      </dl>
    </div>
    </a>
    
  </div>  
    
  </fieldset>
  
  @if(dvd.movieForm.trailerUrl != null && dvd.movieForm.trailerUrl != "") {
   <fieldset class="well">
     <h2>Trailer:</h2>
     
     <iframe width="560" height="315"  src="http://www.youtube.com/embed/@dvd.movieForm.trailerUrl" frameborder="0" allowfullscreen></iframe>
     
   </fieldset>
   }
    
  
  @displaysubdvd(dvd.boxDvds, dvd, "box",dvd.copyForm.box,username)
    
  @displaysubdvd(dvd.collectionDvds, dvd, "collection",dvd.copyForm.collection,username)
  
  @displaysubdvd(dvd.seriesDvd, dvd, "movie series "+dvd.movieForm.series,dvd.copyForm.collection,username)

</div>
</div>

<script type="text/javascript">
$(function() {
  $('#modalLabel').html("@dvd.title");
  @if(dvd.movieForm.hasBackdrop != null && dvd.movieForm.hasBackdrop == true) {
    $('#modal.dvdInfoModal .modal-body').css('background-image',"url('@routes.DashboardController.streamImage(dvd.movieForm.movieId,"BACKDROP","BACKCKDROP_POPUP_SIZE")')");
  }
  });
</script>


