@(dvd: forms.dvd.objects.InfoDvd,username: String, prevNext: forms.dvd.objects.PrevNextCopies,shoppingCart: objects.shoppingcart.CacheShoppingCart, bookmarkedCopys: Set[Long], viewedCopy: List[ViewedCopy])
@import org.apache.commons.collections.CollectionUtils
@import org.apache.commons.lang.StringUtils
@import helpers.EImageSize

@scripts = {
  @general.jsI18n("headline.lendCopy","btn.lend","headline.unlendCopy","btn.unlend","headline.deleteCopy","btn.delete","headline.markAsViewed","btn.ok")
  <script src="@routes.Assets.versioned("javascripts/copyButtons.js")" type="text/javascript"></script>

  @if(prevNext.next != null || prevNext.prev != null) {
    <script type='text/javascript' src="@routes.Assets.versioned("hammer.js")"></script>
    <script type="text/javascript">
      var hammerDoc = new Hammer(document.getElementById('displayCopyWrapper'));
      hammerDoc.get('swipe').set({ direction: Hammer.DIRECTION_HORIZONTAL });
      @if(prevNext.next != null) {    
          hammerDoc.on('swipeleft', function(ev) {
            window.location = jsRoutes.controllers.Dashboard.displayCopyOnPage(@prevNext.next.id).absoluteURL(appIsInHttps); 
          });
      }
      @if(prevNext.prev != null) {
        hammerDoc.on('swiperight', function(ev) {
       	  window.location = jsRoutes.controllers.Dashboard.displayCopyOnPage(@prevNext.prev.id).absoluteURL(appIsInHttps);
        });
      }
    </script>
  }

  <script type="text/javascript">
    $(function() {

      $('.tooltipo').tooltip();
      $(document).on('click','.coverwrapper em, .coverwrapper_small em, a.displayCopy',function(event){
        var copyId = $(this).data('dvdId');

        // testing style
        window.location = jsRoutes.controllers.Dashboard.displayCopyOnPage(copyId).absoluteURL(appIsInHttps);
        return;

        /*displayAjaxDialog({
          route: jsRoutes.controllers.Dashboard.displayDvd(copyId),
          title: 'Is set from the displaydvdSacla',
          cssClass:	'dvdInfoModal',
          onClose: function() {
            $('#modal .modal-body').css('background-image', 'none');
          },
          onOpen: function() {
            $('.dvdInfoModal .tooltipo').tooltip().on('show', function(e) {e.stopPropagation();}).on('hide', function(e) {e.stopPropagation();});
          }
        });
        return false;*/
      });
    });
  </script>
}

@styles = {
  @if(dvd.movieForm.hasBackdrop != null && dvd.movieForm.hasBackdrop == true) {
    <style type="text/css">
      body {
        background-image: url('@routes.Dashboard.streamImage(dvd.movieForm.movieId,"BACKDROP","BACKCKDROP_POPUP_SIZE")') !important;
      }
    </style>
  }
}

@mainmenu(Messages.apply("headline.displayCopy",dvd.title),scripts,styles) {
<div class="row displayCopyWrapper" id="displayCopyWrapper">
 <div class="span12">

   @if(prevNext.next != null || prevNext.prev != null) {
     <div class="well row">
       <div class="span6">
         @if(prevNext.prev != null) {
           <a href="@routes.Dashboard.displayCopyOnPage(prevNext.prev.id)">
             @general.displayposter(prevNext.prev.movieId,prevNext.prev.hasPoster,EImageSize.TINY)
             @prevNext.prev.title
           </a>
         }
       </div>
       <div class="span5">
         @if(prevNext.next != null) {
           <a class="pull-right" href="@routes.Dashboard.displayCopyOnPage(prevNext.next.id)">
             @general.displayposter(prevNext.next.movieId,prevNext.next.hasPoster,EImageSize.TINY)
             @prevNext.next.title
           </a>
         }
       </div>
     </div>
   }

  <div class="well row">

    <h3>@dvd.title</h3>

    <div class="row">

      <div class="span4">

        <dl class="dl-horizontal">

          <dt>@Messages.apply("lbl.owner"):</dt>
          <dd>
            <a href="@routes.ListDvdsController.listByUser(dvd.dvdForm.ownerName)">
              <img class="img-rounded"  src="@routes.Dashboard.gravatar(25,dvd.dvdForm.ownerName)" width="25" height="25" /> @dvd.dvdForm.ownerName
            </a>
          </dd>

          @if(dvd.borrowedBy != null) {
            <dt>@Messages.apply("lbl.lentTo"):</dt>
            <dd>
              <img class="img-rounded" src="@routes.Dashboard.gravatar(25,dvd.borrowedBy)" width="25" height="25" />
              @dvd.borrowedBy
              (@dvd.borrowedOn.format(Messages.apply("dateFormat")))
            </dd>
          }

          @if(dvd.dvdForm.hullNr != null) {
            <dt class="span4">@Messages.apply("lbl.hullNr"):</dt>
            <dd><a href="@routes.ListDvdsController.searchDvd?searchFor=@models.Dvd.HULL_NR_SEARCH @dvd.dvdForm.hullNr">@dvd.dvdForm.hullNr</a></dd>
          }


          @if(CollectionUtils.isEmpty(viewedCopy) == false) {
            <dt>@Messages("lbl.copyViewedOn"):</dt>
            @for(copyView <-  viewedCopy) {
              <dd>@{new Date(copyView.date).format(Messages("dateFormatHour"))}</dd>
            }
          }

          <dt>@Messages("lbl.actions")</dt>
          <dd>@general.copyButtons(dvd.dvdForm.dvdId,(dvd.dvdForm.ownerName == username), (dvd.borrowedOn == null),(username == dvd.borrowedBy), shoppingCart, bookmarkedCopys)</dd>



        </dl>

        @if(CollectionUtils.isEmpty(dvd.dvdForm.audioTypes ) == false) {
          <h5>@Messages.apply("lbl.audioformats"):</h5>

            <ul class="inline">
            @for(audioType <- dvd.dvdForm.audioTypes) {
              <li>@audioType</li>
            }
            </ul>

        }

      </div>

      <div class="span4">
        <dl class="dl-horizontal">

          @if(StringUtils.isEmpty(dvd.movieForm.series) == false) {
            <dt>@Messages.apply("lbl.movieSeries"):</dt>
            <dd>@dvd.movieForm.series</dd>
          }

          @if(dvd.movieForm.runtime != null) {
            <dt>@Messages.apply("lbl.runtime"):</dt>
            <dd>@dvd.movieForm.runtime</dd>
          }


          <dt>@Messages.apply("lbl.year"):</dt>
          <dd>@dvd.movieForm.year</dd>


          @if(StringUtils.isEmpty(dvd.movieForm.director) == false) {
            <dt>@Messages.apply("lbl.director"):</dt>
            <dd><a href="@routes.ListDvdsController.listByDirector(dvd.movieForm.director)">@dvd.movieForm.director</a></dd>
          }

          @if(StringUtils.isEmpty(dvd.dvdForm.asinNr) == false || StringUtils.isEmpty(dvd.movieForm.imdbId) == false) {
            <dt>@Messages.apply("lbl.informations"):</dt>
            <dd>
              @if(StringUtils.isEmpty(dvd.dvdForm.asinNr) == false ) {
                <a href="http://www.amazon.de/dp/@dvd.dvdForm.asinNr" target="_blank"><img src="@routes.Assets.versioned("images/amazon.jpg")" /></a>
              }
              @if(StringUtils.isEmpty(dvd.movieForm.imdbId ) == false) {
                <a href="http://www.imdb.com/title/@dvd.movieForm.imdbId" target="_blank"><img src="@routes.Assets.versioned("images/imdb.jpg")" /></a>
              }
            </dd>
          }

        </dl>
      </div>

      <div class="span3 pull-right">
        <div class="coverlist_li">
          <div class="coverwrapper">
            <em data-dvd-id="@dvd.dvdForm.dvdId" class="@dvd.dvdForm.copyType">

              <div class="well well-small dvdInfo">
              </div>
              <div class="rateWrapper"><img  class="img-rounded" src="@routes.Assets.versioned("images/agerating/"+dvd.dvdForm.ageRating+".gif")" /></div>
            </em>
            <a>
            @general.displayposter(dvd.movieForm.movieId, dvd.movieForm.hasPoster, EImageSize.SMALL)
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  @if(StringUtils.isEmpty(dvd.movieForm.trailerUrl) == false || StringUtils.isEmpty(dvd.movieForm.plot) == false) {
    <div class="row well">

      @if(StringUtils.isEmpty(dvd.movieForm.plot) == false) {
        <div @if(StringUtils.isEmpty(dvd.movieForm.trailerUrl) == false) {class="span6"}>
          <h5>@Messages.apply("lbl.plot"):</h5>
          <p>@dvd.movieForm.plot</p>
        </div>
      }

      @if(StringUtils.isEmpty(dvd.movieForm.trailerUrl) == false) {
        <div @if(StringUtils.isEmpty(dvd.movieForm.plot) == false) {class="span5"}>
          <h5>@Messages.apply("lbl.trailer"):</h5>
          <iframe width="400" height="225"  src="https://www.youtube.com/embed/@dvd.movieForm.trailerUrl" frameborder="0" allowfullscreen></iframe>
        </div>
      }
    </div>
  }

   @if(CollectionUtils.isEmpty(dvd.movieForm.genres) == false || CollectionUtils.isEmpty(dvd.movieForm.actors) == false) {
     <div class="row well">
       <div class="span6">
         <h5>@Messages.apply("lbl.genres"):</h5>
         <ul class="inline">
         @for(genre <- dvd.movieForm.genres) {
           <li><a href="@routes.ListDvdsController.listByGenre(genre)">@genre</a></li>
         }
        </ul>
       </div>

       <div class="span5">
         <h5>@Messages.apply("lbl.actors"):</h5>
         <ul class="inline">
           @for(actor <- dvd.movieForm.actors) {
             <li><a href="@routes.ListDvdsController.listByActor(actor)">@actor</a></li>
           }
         </ul>
       </div>
     </div>
   }

  @dashboard.displaysubdvd(dvd.boxDvds, dvd, Messages.apply("lbl.box"),dvd.dvdForm.box,username)
    
  @dashboard.displaysubdvd(dvd.collectionDvds, dvd, Messages.apply("lbl.collection"),dvd.dvdForm.collection,username)
  
  @dashboard.displaysubdvd(dvd.seriesDvd, dvd, Messages.apply("lbl.movieSeries")+" "+dvd.movieForm.series,dvd.dvdForm.collection,username)
  </div>
</div>
}


