@(dvdForm: Form[forms.DvdForm])(mode: String)

@import helper._
@import helper.twitterBootstrap._

@scripts = {
  
  <script type="text/javascript">
  <!--
    var selectedMovieId =  '@dvdForm.get().movieId';	
    
  //-->
  </script>
  
   
  <script src="@routes.Assets.at("select2-2.1/select2.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/dvdForm.js")" type="text/javascript"></script>
  
  <script type="text/javascript">
   <!--
     var avaibleBoxes = @Html(DvdAttribute.getAllByTypeAsJson(EDvdAttributeType.BOX));
     var avaibleCollections = @Html(DvdAttribute.getAllByTypeAsJson(EDvdAttributeType.COLLECTION));
   //-->
          
  </script>
}

@styles = {
  <link rel="stylesheet" href="@routes.Assets.at("select2-2.1/select2.css")" />
}

@mainmenu("Dvd Database - Add a dvd",scripts,styles) {

  <div class="row" id="dvdFormWrapper">

     @form(routes.DvdController.addDvd(mode),'enctype -> "multipart/form-data", 'class -> "well") {

     <fieldset>
       <legend>@if(mode == DvdController.DVD_FORM_EDIT_MODE) {Edit Dvd } else {Add a Dvd}</legend>
             
     
       @if(mode == DvdController.DVD_FORM_EDIT_MODE) {
         <input type="hidden" name="dvdId" id="dvdId" value="@dvdForm.get().dvdId"/>
       }
       
       <label for="copyType">Type:</label>
       @for((copyType,index) <- forms.DvdForm.getCopyTypes.zipWithIndex) {
         <input type="radio" name="copyType" value="@copyType" @if(mode == DvdController.DVD_FORM_EDIT_MODE && copyType == dvdForm.get().copyType || mode == DvdController.DVD_FORM_ADD_MODE && index == 0){ checked="checked" } /><span><img alt="@copyType" src="@routes.Assets.at("images/copy_type/"+copyType+".png")" />@copyType </span> 
       }
       
       
       <label for="copyType">Rating:</label>
       @for((rating,index) <- forms.DvdForm.getAgeRatings.zipWithIndex) {
         <input type="radio" name="ageRating" value="@rating" @if(mode == DvdController.DVD_FORM_EDIT_MODE && rating == dvdForm.get().ageRating || mode == DvdController.DVD_FORM_ADD_MODE && index == 0){ checked="checked" } /><span><img alt="@rating" src="@routes.Assets.at("images/agerating/"+rating+".gif")" />@rating </span> 
       }
       
         
       @inputText(dvdForm("hullNr"),'_label -> "Hull Nr.", 'class -> "span4")
       
       
       <input type="hidden" name="box" id="box" value="@dvdForm("box").value()" class="select2_deselect_new span5" data-placeholder="Select a dvd box"/>
       
       <input type="hidden" name="collection" id="collection" value="@dvdForm("collection").value()" class="select2_deselect_new span5" data-placeholder="Select a collection"/>
       
       <hr />
       
       <div class="form-actions">
         @if(mode == DvdController.DVD_FORM_EDIT_MODE) {
           <button type="submit" class="btn btn-primary"><i class="icon-edit"></i>Edit Dvd</button>
         } else {
           <button type="submit" class="btn  btn-primary"><i class="icon-plus"></i>Add Dvd</button>
         }
         <a class="btn" href="@routes.ListDvds.listdvds(null)"><i class="icon-arrow-left"></i>Back</a>
       </div>
             
             
      @select(dvdForm("movieId"), models.Movie.listByDistinctTitle().map{ t=> t.id.toString -> (t.title)},'_label->"Existing movie", 'class-> "span6 def_chosen_select")        
      <button class="btn btn-inverse" id="newMovieInfos" type="button"><i class="icon-film"></i> New Movie</button>
      
      @if(mode == DvdController.DVD_FORM_EDIT_MODE) {
        <button class="btn btn-info" id="editMovieInfos" type="button"><i class="icon-edit"></i> Edit Movie</button>      
      }
              
         
         
     </fieldset>         
     }
   </div>  
     
  <!-- NEW MOVIE WRAPPER -->   
  <div class="row" id="newMovieFormWrapper">
  
  </div>  
  
}