@(dvdForm: Form[forms.DvdForm])(mode: String)

@import helper._
@import helper.twitterBootstrap._

@scripts = {
  <script src="@routes.Assets.at("tagit/js/tag-it.js")" type="text/javascript"></script>
  
  <script type="text/javascript">
  <!--
    var selectedMovieId =  '@dvdForm.get().movieId';	
    
  //-->
  </script>
   
  <script src="@routes.Assets.at("chosen/chosen.jquery.min.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/dvdForm.js")" type="text/javascript"></script>
}

@styles = {
  <link rel="stylesheet" href="@routes.Assets.at("tagit/css/jquery.tagit.css")" />
  <link rel="stylesheet" href="@routes.Assets.at("chosen/chosen.css")" />
}

@mainmenu("Dvd Database - Add a dvd",scripts,styles) {

  <div class="row" id="dvdFormWrapper">

     @form(routes.DvdController.addDvd(mode),'enctype -> "multipart/form-data", 'class -> "well") {

     <fieldset>
       <legend>@if(mode == DvdController.DVD_FORM_EDIT_MODE) {Edit Dvd} else {Add a Dvd}</legend>
             
     
       @if(mode == DvdController.DVD_FORM_EDIT_MODE) {
         <input type="hidden" name="dvdId" id="dvdId" value="@dvdForm.get().dvdId"/>
       }
         
       @inputText(dvdForm("hullNr"),'_label -> "Hull Nr.", 'class -> "span4")
       @select(field = dvdForm("box"), options(DvdAttribute.getAllByTypeAsValue(EDvdAttributeType.BOX)),'_label->"Box",'class-> "span5 chosen_select")
       @select(field = dvdForm("collection"), options(DvdAttribute.getAllByTypeAsValue(EDvdAttributeType.COLLECTION)),'_label->"Collection",'class-> "span5 chosen_select")
       <hr />
       
       <div class="form-actions">
         @if(mode == DvdController.DVD_FORM_EDIT_MODE) {
           <button type="submit" class="btn btn-primary"><i class="icon-edit"></i>Edit Dvd</button>
         } else {
           <button type="submit" class="btn  btn-primary"><i class="icon-plus"></i>Add Dvd</button>
         }
         <a class="btn" href="@routes.ListDvds.listdvds(null)"><i class="icon-arrow-left"></i>Back</a>
       </div>
             
             
      @select(dvdForm("movieId"), models.Movie.listByDistinctTitle().map{ t=> t.id.toString -> (t.title)},'_label->"Existing movie", 'class-> "span6 def_chosen_select")        
      <button class="btn btn-inverse" id="newMovieInfos" type="button"><i class="icon-film"></i> New Movie</button>
      
      @if(mode == DvdController.DVD_FORM_EDIT_MODE) {
        <button class="btn btn-info" id="editMovieInfos" type="button"><i class="icon-edit"></i> Edit Movie</button>      
      }
              
         
         
     </fieldset>         
     }
   </div>  
     
  <!-- NEW MOVIE WRAPPER -->   
  <div class="row" id="newMovieFormWrapper">
  
  </div>  
  
}