@(dvdPage: DvdPage) 

   @if(dvdPage.page.getTotalPageCount > 1) {
    <div class="row">
      <div class="pagination pagination-small pull-right">
        <ul>
          <li  @if(dvdPage.page.hasPrev == false) { class="disabled" }><a @if(dvdPage.page.hasPrev == true) { href="@routes.ListDvdsController.listdvds(dvdPage.page.getPageIndex-1)" }>Prev</a></li>
            @for(nav <- dvdPage.nav) {
              <li @if((nav.idx) == dvdPage.page.getPageIndex){class="active"} @if(nav.idx == null) {class="disabled"}>
              @if(nav.idx == null) {
                <a href="#">@nav.displayVal</a>
              } else {
                <a  href="@routes.ListDvdsController.listdvds(nav.idx)">@nav.displayVal</a>
              }
              </li>
            }
          <li @if(dvdPage.page.hasNext == false) { class="disabled" }><a @if(dvdPage.page.hasNext == true) { href="@routes.ListDvdsController.listdvds(dvdPage.page.getPageIndex+1)"}>Next</a></li>
        </ul>
      </div>
      </div>
    }
