@(lendForm: Form[forms.LendForm], dvd: Dvd, inSameHull: List[Dvd], reservations: Map[String,String], otherUsers: List[String])
@import org.apache.commons.collections.MapUtils
@import org.apache.commons.collections.CollectionUtils

@import helper._
@import helper.twitterBootstrap._
@import helpers.EImageSize

<form class="form-horizontal">

<fieldset>
  <legend>Lend Dvd: @general.displayposter(dvd.movie.id,dvd.movie.hasPoster,EImageSize.TINY) <i>@general.displayCopyTitle(dvd)</i></legend>

  <input type="hidden" id="lendDvdId" value="@dvd.id" />

  @if(MapUtils.isEmpty(reservations) == false) {
    @select(lendForm("reservation"), options(reservations),'_label->"From reservation",'class-> "span5", 'id -> "lendToReservation")
  }


  @if(otherUsers != null) {
    @select(lendForm("userName"), options(otherUsers),'_label->"To user",'class-> "span5", 'id -> "lendToUser")
  }


  @inputText(lendForm("freeName"),'_label -> "To free name", 'class -> "span5")
  
  @if(inSameHull != null) {
    @checkbox(field = lendForm("alsoOthersInHull"), '_label -> "Others in Hull to")

    @general.displaysubcopylist(inSameHull)
  }
</fieldset>
</form>

