@(dvdPage: DvdPage)(dvdListForm: Form[forms.dvd.DvdSearchFrom])(username: String)(shoppingCart: objects.shoppingcart.CacheShoppingCart)(viewMode: helpers.ECopyListView)
@import helpers.ECopyListView


  @scripts = {
   <script src="@routes.Assets.at("javascripts/dvdList.js")" type="text/javascript"></script>
}

@mainmenu("Dvd Database - DVDs",scripts) {

  @dashboard.searchform(dvdListForm)

  @if(flash.contains("success")) {
    <div class="alert alert-success">
      @flash.get("success")
    </div>
  }

  @if(dvdPage.page.getTotalRowCount == 0) {
    <h4>No Dvds found !</h4>
  } else {
  <div class="row">
    <h4>Displaying @dvdPage.page.getDisplayXtoYofZ(" to "," of ") DVD's</h4>

    @dashboard.dvdlistnav(dvdPage,viewMode)

    <div class="row">

      @if(viewMode == ECopyListView.COVERVIEW) {
        @dashboard.listviews.listDvdsCoverView(dvdPage,username,shoppingCart)
      }

      @if(viewMode == ECopyListView.SMALLCOVERVIEW) {
        @dashboard.listviews.listDvdsItemView(dvdPage,username,shoppingCart)
      }


    </div>

    @dashboard.dvdlistnav(dvdPage)
    
  </div>
  
  }
  

}