@(dvdPage: DvdPage)(dvdListForm: forms.DvdListFrom)(username: String)

@scripts = {
   <script src="@routes.Assets.at("javascripts/dvdList.js")" type="text/javascript"></script>
}

@mainmenu("Dvd Database - DVDs",scripts) {

  @if(flash.contains("success")) {
    <div class="alert alert-success">
      @flash.get("success")
    </div>
  }

  @if(dvdPage.page.getTotalRowCount == 0) {
    <h1>No Dvds found !</h1>
  } else {
  <div class="row">
    <h1>Displaying @dvdPage.page.getDisplayXtoYofZ(" to "," of ") DVD's</h1>
    
 
   @searchform(dvdListForm)
    
    @if(dvdPage.page.getTotalPageCount > 1) {
    <div class="row">
      <div class="pagination pull-right">
        <ul>

          <li  @if(dvdPage.page.hasPrev == false) { class="disabled" }><a @if(dvdPage.page.hasPrev == true) { href="@routes.ListDvds.listdvds(dvdPage.page.getPageIndex-1)" }>Prev</a></li>

          @for(nav <- dvdPage.nav) {
            <li @if((nav.idx) == dvdPage.page.getPageIndex){class="active"} @if(nav.idx == null) {class="disabled"}>
            @if(nav.idx == null) {
              <a href="#">@nav.displayVal</a>
            } else {
              <a  href="@routes.ListDvds.listdvds(nav.idx)">@nav.displayVal</a>
            }
            </li>
          }
          
          <li @if(dvdPage.page.hasNext == false) { class="disabled" }><a @if(dvdPage.page.hasNext == true) { href="@routes.ListDvds.listdvds(dvdPage.page.getPageIndex+1)"}>Next</a></li>
        </ul>
      </div>
      </div>
    }
    
    <ul class="thumbnails">
    @for(dvd <- dvdPage.list) {
      <li class="span3 dvdListHeight">
        <div class="thumbnail dvdDisplayContainer dvdListHeight well @if(dvd.borrower != null || dvd.borrowerName != null) {borrowed}  @if(dvd.borrower != null && dvd.borrower.userName == Controller.ctx().session().get(Secured.AUTH_SESSION)) { selfBorrowed }">
          @if(dvd.movie.hasPoster != null && dvd.movie.hasPoster == true) {
            <img src="@routes.Dashboard.streamImage(dvd.movie.id,"POSTER","SMALL")"/>
          } else {
            <img src="http://placehold.it/92x138/4D99E0/ffffff.png&text=No%20Poster"/>
          }
        
          <div class="caption">  
          <h5>
            @dvd.movie.title (@dvd.owner.userName)
            @if(dvd.borrower != null || dvd.borrowerName != null){
              -> @if(dvd.borrower != null){ @dvd.borrower.userName } else { @dvd.borrowerName }
            }
          </h5>
          
          
          
          <div class="btn-group">
            <a class="btn displayInfoButton" href="#" data-dvd-id="@dvd.id"><i class="icon-info-sign"></i></a>
            @if(dvd.owner.userName == username) {
              
              @if(dvd.borrower == null && dvd.borrowerName == null) {
                <a class="btn lendDvdBtn" href="#" data-dvd-id="@dvd.id"><i class="icon-share"></i></a>
              } else {
                <a class="btn unlendDvdBtn" href="#" data-dvd-id="@dvd.id"><i class="icon-download"></i></a>
              }
              
              <a class="btn" href="@routes.Dashboard.showEditDvd(dvd.id)"><i class="icon-edit"></i></a>
              <a class="btn deleteDvdBtn" href="#" data-dvd-id="@dvd.id"><i class="icon-trash"></i></a>
            } else {
            
              @if(dvd.borrower == null && dvd.borrowerName == null) {
                <a class="btn" href=""><i class="icon-shopping-cart"></i></a>
              }
              
              
              
            }
          </div>
        </div>
          
        </div>
      </li>
    }
    </ul>
    
  </div>
  
  <!-- DIALOG FOR DISPLAYING MOVIE -->
  <div id="dvdInfoDialog" title="Movie Infos">
    <div class="dialogContent">
      
    </div>
  </div>
  
  <!-- DIALOG FOR SHARING MOVIE -->
  <div id="dvdLendDialog" title="Lend Dvd">
    <div class="dialogContent">
      
    </div>
  </div>
  }
  

}