@(dvdSearchForm: Form[forms.dvd.DvdSearchFrom])

@import helper._
@import helper.twitterBootstrap._


<script type="text/javascript">
<!--
  var avaibleGenres = @Html(MovieAttribute.getAvaibleAttributesAsJson(EMovieAttributeType.GENRE));
  var avaibleUsers = @Html(User.getUserNamesAsJson());
  var avaibleAgeRatings = @Html(forms.dvd.DvdSearchFrom.getAgeRatingsAsJson());
  var avaibleCopyTypes = @Html(forms.dvd.DvdSearchFrom.getCopyTypesJson());
  var listOrderBy = @Html(forms.dvd.objects.EDvdListOrderBy.getAsJson());
  var displayAdvancedOrder = @forms.dvd.DvdSearchFrom.displayAdvancedForm();
//-->
</script>


<div class="row searchFormRow">

     @form(routes.ListDvdsController.applySearchForm(), 'class -> "form-inline well  searchFormWrapper") {

      <div>     
       <label for="searchFor"><i class="icon-search"></i></label>
       <input type="text" class="input-medium search-query" name="searchFor" id="searchFor" value="@dvdSearchForm("searchFor").value" />
       
       <label for="searchGenre"><i class="icon-tag"></i></label>
       <input type="hidden" name="genre" id="searchGenre" value="@dvdSearchForm("genre").value" class="input-medium" data-placeholder="@Messages.apply("lbl.genre")"/>
       
       <label for="searchOwner"><i class="icon-user"></i></label>
       <input type="hidden" name="userName" id="searchOwner" value="@dvdSearchForm("userName").value"  class="input-medium" data-placeholder="@Messages.apply("lbl.owner")"/>
       
       <input type="hidden" name="ageRating" id="searchAgeRating" value="@dvdSearchForm("ageRating").value" class="input-mini"  data-placeholder="@Messages.apply("lbl.agerating")"/>

       <label for="searchOrderBy"><i class="icon-list"></i></label>
       <input type="hidden" name="orderBy" id="searchOrderBy" value="@dvdSearchForm("orderBy").value"  class="input-medium" data-placeholder="Order by"/>
       
       <label class="radio">
         <input type="radio" name="orderHow" id="optionsRadios1" value="@forms.dvd.objects.EDvdListOrderHow.UP" @if(dvdSearchForm("orderHow").value.equals("UP")) { checked="" }>
         <i class="icon-circle-arrow-up"></i>
       </label>
       <label class="radio">
         <input type="radio" name="orderHow" id="optionsRadios2" value="@forms.dvd.objects.EDvdListOrderHow.DOWN" @if(dvdSearchForm("orderHow").value.equals("DOWN")) { checked="" }>
         <i class="icon-circle-arrow-down"></i>
       </label>
       
       <button type="submit" class="btn btn-primary"><i class="icon-search"></i></button>
      </div>
      
      <div id="searchFormDivider" onclick="$('#advancedSearchForm').toggle(250);"><i class="icon-plus-sign"> </i></div>
      
      <div id="advancedSearchForm">
        <label for="searchCopyType"><i class="icon-facetime-video"></i></label>
       <input type="hidden" name="copyType" id="searchCopyType" value="@dvdSearchForm("copyType").value"  class="input-medium" data-placeholder="@Messages.apply("lbl.copyType")"/>

        @*
       <label for="searchCopyLend" class="checkbox">
         <input type="checkbox" name="lendDvd" id="searchCopyLend"   value="true" @if(dvdSearchForm("lendDvd").value() == "true") { checked="checked" }/>
         <i class="icon-share"></i> Lent
       </label>
      </div>
       *@

     }
</div>