@(dvdListForm: Form[forms.DvdListFrom])


@import helper._
@import helper.twitterBootstrap._


<div class="row">

     @form(routes.ListDvds.applySearchForm(), 'class -> "well form-inline") {
     
       @select(field = dvdListForm("genre"), options(MovieAttribute.getAllByTypeAsValue(EMovieAttributeType.GENRE)),'_label->"Genre",'class-> "span2 chosen_select")
       
       @select(field = dvdListForm("userName"), options(User.getUserNames()),'_label->"Owner",'class-> "span2 chosen_select")
       
       @select(field = dvdListForm("ageRating"), options(forms.DvdListFrom.getAgeRatings),'_label->"Rating",'class-> "span2 chosen_select")
       
       
       
       
       
       <button type="submit"><i class="icon-search"></i></button>
     
     }
</div>