@(dvdListForm: Form[forms.DvdListFrom])


@import helper._
@import helper.twitterBootstrap._


<script type="text/javascript">

<!--
  var avaibleGenres = @Html(MovieAttribute.getAvaibleAttributesAsJson(EMovieAttributeType.GENRE));
  var avaibleUsers = @Html(User.getUserNamesAsJson());
  var avaibleAgeRatings = @Html(forms.DvdListFrom.getAgeRatingsAsJson()); 
  var listOrderBy = @Html(forms.EDvdListOrderBy.getAsJson());
//-->
</script>


<div class="row">

     @form(routes.ListDvds.applySearchForm(), 'class -> "well form-inline") {
     
       
       <label for="genre">Genre</label>
       <input type="hidden" name="genre" id="searchGenre" value="@dvdListForm("genre").value()" class="input-medium" data-placeholder="Genre"/>
       
       <label for="owner">Owner</label>
       <input type="hidden" name="userName" id="searchOwner" value="@dvdListForm("userName").value()"  class="input-medium" data-placeholder="Owner"/>
       
       <input type="hidden" name="ageRating" id="searchAgeRating" value="@dvdListForm("ageRating").value()" class="input-mini"  data-placeholder="Agerating"/>

       <label for="order">Order</label>
       <input type="hidden" name="orderBy" id="searchOrderBy" value="@dvdListForm("orderBy").value()"  class="input-medium" data-placeholder="Owner"/>
       
       <label class="radio">
         <input type="radio" name="orderHow" id="optionsRadios1" value="@forms.EDvdListOrderHow.UP" @if(dvdListForm("orderHow").value().equals("UP")) { checked="" }>
         Up
       </label>
       
       <label class="radio">
         <input type="radio" name="orderHow" id="optionsRadios1" value="@forms.EDvdListOrderHow.DOWN" @if(dvdListForm("orderHow").value().equals("DOWN")) { checked="" }>
         Down
       </label>
       
       
              
       
       
       
       <button type="submit"><i class="icon-search"></i></button>
     
     }
</div>