@(lendForm: Form[forms.UnLendForm], copy: Dvd, inSameHull: List[Dvd])
@import _root_.helpers.EImageSize

@import helper._

<form class="form-horizontal">

<fieldset>
  <legend>
    @Messages("headline.unlendCopy"):
    @general.displayposter(copy.movie.id,copy.movie.hasPoster,EImageSize.TINY)
    <i>@general.displayCopyTitle(copy)</i>
    <br />
    @Messages("lbl.unlendFrom") :
    <i>@if(copy.borrower != null) { @copy.borrower.userName} else { @copy.borrowerName }</i>
  </legend>

  <input type="hidden" id="unlendDvdId" value="@copy.id" />
  
   @if(inSameHull != null) {
    @checkbox(field = lendForm("alsoOthersInHull"), '_label -> "Others in Hull to")

    @general.displaysubcopylist(inSameHull)
  }
</fieldset>
</form>