@(lendForm: Form[forms.UnLendForm], dvd: Dvd, inSameHull: List[Dvd])

@import helper._
@import helper.twitterBootstrap._

<form class="form-horizontal">

<fieldset>
  <legend>Unlend Dvd: <i>@dvd.movie.title</i> from User: <i>@if(dvd.borrower != null) { @dvd.borrower.userName} else { @dvd.borrowerName }</i></legend>
  
  
  
  <input type="hidden" id="unlendDvdId" value="@dvd.id" />
  
   @if(inSameHull != null) {
    @checkbox(field = lendForm("alsoOthersInHull"), '_label -> "Others in Hull to")
    
    @for(otherDvd <- inSameHull) {
      @if(otherDvd.movie.hasPoster) {
        <img src="@routes.Dashboard.streamImage(otherDvd.movie.id,"POSTER","TINY")"/>
      }
      @otherDvd.movie.title
    }
  }
  
  
</fieldset>
</form>

<script src="@routes.Assets.at("javascripts/unlendDvd.js")" type="text/javascript"></script>