@(lendForm: Form[forms.UnLendForm], copy: Dvd, inSameHull: List[Dvd])(implicit request: Http.Request, messages: play.i18n.Messages)

@import _root_.helpers.EImageSize

@import helper._

<form class="form-horizontal">

<fieldset>
  <legend>
    @messages("headline.unlendCopy"):
    @general.displayposter(copy.getMovie.getId,copy.getMovie.getHasPoster,EImageSize.TINY)
    <i>@general.displayCopyTitle(copy)</i>
    <br />
    @messages("lbl.unlendFrom") :
    <i>@if(copy.getBorrower != null) { @copy.getBorrower.getUserName} else { @copy.getBorrowerName }</i>
  </legend>

  <input type="hidden" id="unlendDvdId" value="@copy.getId" />
  
   @if(inSameHull != null) {
    @checkbox(field = lendForm("alsoOthersInHull"), Symbol("_label") -> "Others in Hull to")

    @general.displaysubcopylist(inSameHull)
  }
</fieldset>
</form>