@(copy: Dvd, copyViewed: List[ViewedCopy],copyBookmarkedByUser: Boolean)(implicit request: Http.Request, messages: play.i18n.Messages)

@import org.apache.commons.collections.CollectionUtils


@import helpers.EImageSize
@messages("headline.markAsViewed"): @general.displayPoster(copy.getMovie.getId,copy.getMovie.getHasPoster,EImageSize.TINY) <i>@general.displayCopyTitle(copy)</i>

<input type="hidden" id="copyId" value="@copy.getId" />

@if(copyBookmarkedByUser == true) {
  <label for="removeBookmarkForViewed">
    @messages("lbl.removeBookmarkForViewed")
    <input name="removeBookmarkForViewed" type="checkbox" id="removeBookmarkForViewed" checked="checked"/>
  </label>

}

@if(CollectionUtils.isEmpty(copyViewed) == false) {
  <ul class="unstyled">
    <li><strong>@messages("lbl.copyAlreadyViewed",copyViewed.size)</strong></li>
    @for(copyView <-  copyViewed) {
      <li>@{new Date(copyView.date).format(messages("dateFormatHour"))}</li>
    }
  </ul>
}

