@(copy: Dvd, copyViewed: List[ViewedCopy],copyBookmarkedByUser: Boolean)
@import org.apache.commons.collections.CollectionUtils


@import helpers.EImageSize
@Messages("headline.markAsViewed"): @general.displayposter(copy.movie.id,copy.movie.hasPoster,EImageSize.TINY) <i>@general.displayCopyTitle(copy)</i>

<input type="hidden" id="copyId" value="@copy.id" />

@if(copyBookmarkedByUser == true) {
  <label for="removeBookmarkForViewed">
    @Messages("lbl.removeBookmarkForViewed")
    <input name="removeBookmarkForViewed" type="checkbox" id="removeBookmarkForViewed" checked="checked"/>
  </label>

}

@import org.apache.commons.collections.CollectionUtils

@if(CollectionUtils.isEmpty(copyViewed) == false) {
  <ul class="unstyled">
    <li><strong>@Messages("lbl.copyAlreadyViewed",copyViewed.size)</strong></li>
    @for(copyView <-  copyViewed) {
      <li>@{new Date(copyView.date).format(Messages("dateFormatHour"))}</li>
    }
  </ul>
}

