@(viewedCopies: List[ViewedCopy])
@import org.apache.commons.collections.CollectionUtils

@mainmenu(Messages("headline.viewedCopies")) {

  @general.displayList("headline.viewedCopies","icon-eye-open") {

        @if(CollectionUtils.isEmpty(viewedCopies) == true) {
          <div class="alert alert-info">
            @Messages("msg.info.noViewedCopies")
          </div>
        } else {
          <table class="table table-hover">
            <thead>
              <tr>
                <th>@Messages("lbl.copy")</th>
                <th>@Messages("lbl.date")</th>
              </tr>
            </thead>
            <tbody>
              @for(viewedCopy <-viewedCopies) {
                <tr>
                  <td>@general.displayitem(viewedCopy.copy,true)</td>
                  <td>@{new Date(viewedCopy.date).format(Messages("dateFormatHour"))}</td>
                </tr>
              }
            </tbody>
          </table>
        }
  }
}