@(displayMovie : grabbers.GrabberDisplayMovie,grabberType: String,movieToEditId: Long,mode: String)

@import helper._

<div class="col_12">
  <h1>@displayMovie.movieTitle</h1>



  @form(routes.MovieController.addMovieByGrabberId(mode,grabberType),'class -> "vertical",'id -> "grabberMovieForm", 'mode -> mode, 'grabberType -> grabberType) {
     
  
    <input type="hidden" name="grabberMovieId" id="grabberMovieId"  value="@displayMovie.systemId"/>
    <input type="hidden" name="movieToEditId" id="movieToEditId" value="@movieToEditId" />
    <input type="hidden" name="grabberType" id="grabberType" value="@grabberType" />
  
    <fieldset>
      <legend>Description</legend>
      <p>
        @displayMovie.plot
      </p>
    </fieldset>
  
    @if(displayMovie.posterUrls != null || displayMovie.posterUrls.size() > 0) {
    <fieldset class="span12">
      <legend>Posters</legend>
       
       <ul class="thumbnails">
        @for((poster,index) <- displayMovie.posterUrls.zipWithIndex) {
          <li class="span3" style="height: 160px;">
            <div class="thumbnail" style="height: 160px;">
              <img src="@routes.Dashboard.streamExternalImage()?url=@poster.url&imgSize=GRABBER_POSTER_SMALL"/>
              <div class="caption">
                <input @if(index == 0){checked="checked"} type="radio" name="grabberPosterId" value="@poster.id"/>
              </div>
            </div>
          </li>
        }
      </ul>
   
    </fieldset>
  }
  
  @if(displayMovie.backDropUrls != null || displayMovie.backDropUrls.size() > 0) {
    <fieldset>
      <legend>Backdrops</legend>
      <ul class="thumbnails">
        @for((backdrop,index) <- displayMovie.backDropUrls.zipWithIndex) {
          <li class="span4" style="height: 190px;">
            <div class="thumbnail" style="height: 190px;">
              <img src="@routes.Dashboard.streamExternalImage()?url=@backdrop.url&imgSize=GRABBER_BACKDROP_SMALL" />
              <div class="caption">
                <input @if(index == 0){checked="checked"} type="radio" name="grabberBackDropId" value="@backdrop.id"/>
              </div>
            </div>
          </li>
        }
      </ul>
    
   
    </fieldset>
  }
  
    @if(displayMovie.trailerUrls != null || displayMovie.trailerUrls.size() > 0) {
    <fieldset>
      <legend>Trailers</legend>
      <ul class="thumbnails">
        @for((trailerUrl,index) <- displayMovie.trailerUrls.zipWithIndex) {
          <li class="span4" style="height: 190px;">
            <div class="thumbnail" style="height: 190px;">
            
            <iframe width="289" height="163"  src="http://www.youtube.com/embed/@trailerUrl" frameborder="0" allowfullscreen></iframe>
              <div class="caption">
                <input @if(index == 0){checked="checked"} type="radio" name="grabberTrailerUrl" value="@trailerUrl"/>
              </div>
            </div>
          </li>
        }
      </ul>
    
   
    </fieldset>
  }
  
  
  
  }
</div>

<script>
  /**
  * If the popup is opened by edit mode we want to keep the dvdId
  */
  $(function() {
	var dvdToEdit = $('#dvdId').val();
	if(isNaN(dvdToEdit) == false) {
		$('#dvdEditId').val(dvdToEdit);
	}
	  
  });
</script>

