@(searchTerm : String,results : List[grabbers.GrabberSearchMovie],dbMovieId: Long)
<form method="GET" >
  		<label>Search Tmdb</label>
  		<input type="text" name="searchTerm" id="tmdb_search_input" value="@searchTerm"/>
  		
  		<input type="hidden" name="tmdbMovieId" id="tmdbMovieId" value="@dbMovieId"/>
  		
  		<button href="#" id="tmdb_search_button" class="btn"><i class="icon-search"></i>Search</button>
</form>

@if(results.isEmpty()) {
  <div class="alert alert-error">Nothing found</div>
} else {

    <section class="span12">
      <ul class="thumbnails">
        
        @for(res <- results) {

          <li class="span3" style="height: 260px;">
            <div class="thumbnail" style="height: 260px;">
              @if(res.posterUrl != null) {
                <img src="@res.posterUrl" />
              }
        
              <div class="caption">
                <h5>@res.movieTitle</h5>
                <p><a class="btn btn-primary pickTmdbEntry" data-grabber-id="@res.systemId"><i class="icon-ok-sign icon-white"></i> Pick</a></p>
              </div>
            </div>
          </li>
        }
    
      </ul>
    </section>
    
}
