@(searchTerm : String,results : List[com.github.savvasdalkitsis.jtmdb.Movie],dvdId: Long)
<form method="GET" >
  		<label>Search Tmdb</label>
  		<input type="text" name="searchTerm" id="tmdb_search_input" value="@searchTerm"/>
  		
  		<input type="hidden" name="tmdbDvdId" id="tmdbDvdId" value="@dvdId"/>
  		
  		<button href="#" id="tmdb_search_button" class="btn"><i class="icon-search"></i>Search</button>
</form>

@if(results.isEmpty()) {
  <div class="alert alert-error">Nothing found</div>
} else {

    <section class="span12">
      <ul class="thumbnails">
        
        @for(res <- results) {

          <li class="span3" style="height: 260px;">
            <div class="thumbnail" style="height: 260px;">
              @if(res.getImages() != null && res.getImages().posters != null && res.getImages().posters.iterator().hasNext()) {
                <img src="@res.getImages().posters.iterator().next().getSmallestImage()" />
              }
        
              <div class="caption">
                <h5>@res.getName()</h5>
                <p><a class="btn btn-primary pickTmdbEntry" data-tmdb-id="@res.getID()"><i class="icon-ok-sign icon-white"></i> Pick</a></p>
              </div>
            </div>
          </li>
        }
    
      </ul>
    </section>
    
}
