@import org.apache.commons.lang3.StringUtils
@(dvdPage: DvdPage, username: String, shoppingCart: objects.shoppingcart.CacheShoppingCart, bookmarkedCopys: Set[Long])(implicit request: Http.Request, messages: play.i18n.Messages)
@import helpers.EImageSize
<table class="table table-condensed well">
  <thead>
    <tr>
      <th></th>
      <th>@messages("lbl.title")</th>
      <th>@messages("lbl.info")</th>
      <th>@messages("lbl.imdbRating")</th>
      <th>@messages("lbl.owner")</th>
      <th>@messages("lbl.lent")</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

  @for(dvd <- dvdPage.list) {
    <tr class="@if(dvd.getBorrower != null || dvd.getBorrowerName != null) {error} @if(dvd.getBorrower != null && dvd.getBorrower.getUserName == username) {warning}">
      <td><a href="#" class="displayCopy" data-dvd-id="@dvd.getId">@general.displayPoster(dvd.getMovie.getId, dvd.getMovie.getHasPoster, EImageSize.TINY)</a></td>
      <td><a href="#" class="displayCopy" data-dvd-id="@dvd.getId">@dvd.getMovie.getTitle</a></td>
      <td>
        @if(DvdAttribute.getCopyTypeAttribute(dvd) != null) {
          <span><img class="img-rounded" alt="@DvdAttribute.getCopyTypeAttribute(dvd)" src="@routes.Assets.versioned("images/copy_type/" + DvdAttribute.getCopyTypeAttribute(dvd) + ".png")" /></span>
        }
        @if(DvdAttribute.getAgeRatingAttribute(dvd) != null) {
          <span><img class="img-rounded" alt="@DvdAttribute.getAgeRatingAttribute(dvd)" src="@routes.Assets.versioned("images/agerating/" + DvdAttribute.getAgeRatingAttribute(dvd) + ".gif")" /></span>
        }
      </td>
      <td>
        @if(StringUtils.isBlank(dvd.getMovie.getImdbRating) == false) {
          <span>@dvd.getMovie.getImdbRating/10</span>
        }
      </td>
      <td>@dvd.getOwner.getUserName</td>
      <td>
      @if(dvd.getBorrower != null || dvd.getBorrowerName != null) {
        @if(dvd.getBorrower != null) {
          @dvd.getBorrower.getUserName
        } else {
          @dvd.getBorrower
        }
      }
      </td>
      <td>
      @dashboard.listviews.copyListBtnsWrapper(dvd, username, shoppingCart, bookmarkedCopys)
      </td>
    </tr>
  }
  </tbody>
</table>