@(dvdPage: DvdPage,username: String,shoppingCart: objects.shoppingcart.CacheShoppingCart,bookmarkedCopys: Set[Long],viewMode: helpers.ECopyListView)
@import helpers.ECopyListView

<div class="alert alert-info">
  @Messages.apply("lbl.displayFromTo",dvdPage.page.getDisplayXtoYofZ(" "+Messages.apply("lbl.to")+" "," "+Messages.apply("lbl.of")+" "))
</div>


@dashboard.dvdlistnav(dvdPage,viewMode)

<div class="row">

  @if(viewMode == ECopyListView.COVERVIEW) {
    @dashboard.listviews.listDvdsCoverView(dvdPage,username,shoppingCart,bookmarkedCopys)
  }

  @if(viewMode == ECopyListView.SMALLCOVERVIEW) {
    @dashboard.listviews.listDvdsItemView(dvdPage,username,shoppingCart,bookmarkedCopys)
  }

  @if(viewMode == ECopyListView.TABLEVIEW) {
    @dashboard.listviews.listDvdsTableView(dvdPage,username,shoppingCart,bookmarkedCopys)
  }
</div>

@dashboard.dvdlistnav(dvdPage)