@(dvdPage: DvdPage,username: String,shoppingCart: objects.shoppingcart.CacheShoppingCart, bookmarkedCopys: Set[Long])(implicit request: Http.Request, messages: play.i18n.Messages)


@import helpers.EImageSize

<ul class="coverlist_ul">
  @for(dvd <- dvdPage.list) {
    <li class="span3 coverlist_li">
      <div class="coverwrapper">
        <em data-dvd-id="@dvd.getId" class="@DvdAttribute.getCopyTypeAttribute(dvd)">
          @if(dvd.getBorrower != null || dvd.getBorrowerName != null){
            <div class="coverborrowed  @if(dvd.getBorrower != null  && dvd.getBorrower.getUserName == username) {selfBorrowed}"></div>
          }

          <div class="well well-small dvdInfo @if(dvd.getBorrower != null || dvd.getBorrowerName != null){borrowed} @if(dvd.getBorrower != null  && dvd.getBorrower.getUserName == username) {selfBorrowed}">
            <p> @general.displayCopyTitle(dvd) @if(dvd.getHullNr != null) { (@dvd.getHullNr) }</p>
            <span>
              @dvd.getOwner.getUserName
              @if(dvd.getBorrower != null || dvd.getBorrowerName != null){
                -> @if(dvd.getBorrower != null){ @dvd.getBorrower.getUserName } else { @dvd.getBorrowerName }
              }
            </span>
          </div>
          <div class="rateWrapper"><img  class="img-rounded" src="@routes.Assets.versioned("images/agerating/"+DvdAttribute.getAgeRatingAttribute(dvd)+".gif")" /></div>
        </em>

        @dashboard.listviews.copyListBtnsWrapper(dvd,username,shoppingCart,bookmarkedCopys)
        <a>
          @general.displayposter(dvd.getMovie.getId,dvd.getMovie.getHasPoster,EImageSize.SMALL)
        </a>
      </div>
    </li>
  }
</ul>