@(dvdPage: DvdPage,username: String,shoppingCart: objects.shoppingcart.CacheShoppingCart,bookmarkedCopys: Set[Long],viewMode: helpers.ECopyListView)(implicit request: Http.Request, messages: play.i18n.Messages)
@import helpers.ECopyListView

<div class="row">
  <div class="span12">
    <div class="alert alert-info">
      @messages("lbl.displayFromTo",dvdPage.page.getDisplayXtoYofZ(" "+messages("lbl.to")+" "," "+messages("lbl.of")+" "))
    </div>
  </div>
</div>


@dashboard.copyListnav(dvdPage)(request, messages)

<div class="row">
  <div class="span12" id="navInfos" data-hasnext="@dvdPage.page.hasNext" data-hasprev="@dvdPage.page.hasPrev" data-curridx="@dvdPage.page.getPageIndex">
    @if(viewMode == ECopyListView.COVERVIEW) {
      @dashboard.listviews.listCopiesCoverView(dvdPage,username,shoppingCart,bookmarkedCopys)
    }

    @if(viewMode == ECopyListView.SMALLCOVERVIEW) {
      @dashboard.listviews.listCopiesItemView(dvdPage,username,shoppingCart,bookmarkedCopys)
    }

    @if(viewMode == ECopyListView.TABLEVIEW) {
      @dashboard.listviews.listCopiesTableView(dvdPage,username,shoppingCart,bookmarkedCopys)
    }
  </div>
</div>

@dashboard.copyListnav(dvdPage)(request, messages)