@(item: objects.shoppingcart.CacheShoppingCartItem)
@import _root_.helpers.EImageSize
<div class="media shoppingcartitem">
  <a class="pull-left" href="#">
  @if(item.copyItem.movie.hasPoster) {
    @general.displayposter(item.copyItem.movie.id,item.copyItem.movie.hasPoster,EImageSize.SELECT2);
  }
  </a>
  <div class="media-body">
  <h5 class="media-heading">@item.copyItem.movie.title</h5>
  <span>Owner: @item.copyItem.owner.userName</span>
  @if(DvdAttribute.getCopyTypeAttribute(item.copyItem) != null) {
    <span><img class="img-rounded" alt="@DvdAttribute.getCopyTypeAttribute(item.copyItem)" src="@routes.Assets.at("images/copy_type/"+DvdAttribute.getCopyTypeAttribute(item.copyItem)+".png")" /></span>
  }
  @if(DvdAttribute.getAgeRatingAttribute(item.copyItem) != null) {
    <span><img  class="img-rounded" alt="@DvdAttribute.getAgeRatingAttribute(item.copyItem)" src="@routes.Assets.at("images/agerating/"+DvdAttribute.getAgeRatingAttribute(item.copyItem)+".gif")" /></span>
  }
  </div>
</div>