@(shoppingCart : objects.shoppingcart.CacheShoppingCart)(implicit request: Http.Request, messages: play.i18n.Messages)

@import helper._

@mainmenu(messages("lbl.shoppingcart")) {

  @general.displayList("lbl.shoppingcart","icon-shopping-cart") {

    @form(routes.ShoppingCartController.checkoutShoppingCart()) {

      @if(shoppingCart.getSize == 0) {
        <div class="alert alert-info">
          <strong>@messages("msg.info.emptyShoppingcart")</strong>
        </div>
      } else {
        <dl>
          @for((username,items) <- shoppingCart.getItemsSortedByUser){

            <dt>@messages("lbl.owner"): @username</dt>
            @for(item <- items) {
              <dd>
               @general.displayItem(item.copyItem)
              </dd>
            }
          }
        </dl>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary"><i class="icon-ok-sign"></i> @messages("btn.checkout")</button>
        </div>
      }

    }

  }
}

