@(shoppingCart : objects.shoppingcart.CacheShoppingCart)

@import helper._
@import helper.twitterBootstrap._

@mainmenu("Dvd Database - Shoppingcart") {


  <div class="row">
    @form(routes.ShoppingCartController.checkoutShoppingCart(), 'class -> "well") {

    <fieldset>
      <legend><i class="icon-shopping-cart"></i> Shoppingcart</legend>

      @if(shoppingCart.getSize == 0) {
        <div class="alert alert-error">
          <strong>No Items in the shoppingcart.</strong>
        </div>
      } else {
        <dl>
          @for((username,items) <- shoppingCart.getItemsSortedByUser){

            <dt>Owner: @username</dt>
            @for(item <- items) {
              <dd>
               @general.displayitem(item.copyItem)
              </dd>
            }
          }
        </dl>

        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Checkout</button>
        </div>
      }

    </fieldset>
    }
  </div>
}

