@(item: Dvd, displayBorrower: Boolean = false)(implicit request: Http.Request, messages: play.i18n.Messages)
<div class="media @if(item.getBorrowDate != null) {alert alert-error}">
  <span class="pull-left">
    @general.displayCover(item)
  </span>
  <div class="media-body">
    <h6 class="media-heading">
      @general.displayCopyTitle(item)
    </h6>
    <span>
      @item.getOwner.getUserName
      @if(displayBorrower == true && item.getBorrowDate != null) {
        <strong>
            ->
          @if(item.getBorrower != null) {
            @item.getBorrower.getUserName
          } else {
            @item.getBorrowerName
          }
        </strong>
      }
    </span>
  </div>
</div>