@(item: Dvd, displayBorrower: Boolean = false)
@import _root_.helpers.EImageSize
<div class="media shoppingcartitem @if(item.borrowDate != null) {alert alert-error}">
  <span class="pull-left">
    @general.displayposter(item.movie.id,item.movie.hasPoster,EImageSize.SELECT2)
  </span>
  <div class="media-body">
    <h5 class="media-heading">
      @item.movie.title
      @if(item.borrowDate != null) {
        <strong>
          ( Borrowed
          @if(displayBorrower == true) {
            to:
            @if(item.borrower != null) {
              @item.borrower.userName
            } else {
              @item.borrowerName
            }
          }
          )
        </strong>
      }
    </h5>
    <span>Owner: @item.owner.userName</span>
    @if(DvdAttribute.getCopyTypeAttribute(item) != null) {
      <span><img class="img-rounded" alt="@DvdAttribute.getCopyTypeAttribute(item)" src="@routes.Assets.at("images/copy_type/"+DvdAttribute.getCopyTypeAttribute(item)+".png")" /></span>
    }
    @if(DvdAttribute.getAgeRatingAttribute(item) != null) {
      <span><img  class="img-rounded" alt="@DvdAttribute.getAgeRatingAttribute(item)" src="@routes.Assets.at("images/agerating/"+DvdAttribute.getAgeRatingAttribute(item)+".gif")" /></span>
    }
  </div>
</div>