@(item: Dvd, displayBorrower: Boolean = false)
<div class="media @if(item.borrowDate != null) {alert alert-error}">
  <span class="pull-left">
    @general.displaycover(item)
  </span>
  <div class="media-body">
    <h6 class="media-heading">
      @general.displayCopyTitle(item)
    </h6>
    <span>
      @item.owner.userName
      @if(displayBorrower == true && item.borrowDate != null) {
        <strong>
            ->
          @if(item.borrower != null) {
            @item.borrower.userName
          } else {
            @item.borrowerName
          }
        </strong>
      }
    </span>
  </div>
</div>