body {
	padding-top: 60px;
	padding-bottom: 40px;
	background-image: url('../images/background.png');
	background-size: cover;
	
}

/* dialoginfo stuff */
#dvdInfoDialog fieldset {
	opacity: 0.80;
}

/* no border arround genres and actors*/
#dvdInfoDialog ul.chzn-choices {
	border: none;
	background: none;
}

ul.tags {
	margin: 0 0 0 0;
}

.dvdListHeight {
	height: 220px;
}

.dvdDisplayContainer {
	opacity: 0.9;
}

.dvdDisplayContainer .caption {
	text-align: center; 
	height: 61px;
}

.dvdDisplayContainer h5 {
	height: 35px;
}

.dvdDisplayContainer .btn-group {
  text-align: center; 
  display:inline-block; 
}

#dvdInfoDialog {
	background-size: 100% 100%;
	-o-background-size: 100% 100%; /*  Opera  */
	-webkit-background-size: 100% 100%; /*  Safari  */
	-khtml-background-size: 100% 100%; /*  Konqueror  */
	-moz-background-size: 100% 100%; /*not working in Firefox as yet */
}

.borrowed {
	background-color: #DA4F49;
}

.selfBorrowed {
	background-color: #F89406;
}

.pagination a:hover, .pagination a {
	background-color: #C3C3C3;
}

.pagination .disabled span, .pagination .disabled a, .pagination .disabled a:hover {
	background-color: #E1E1E1;
}