<script type="text/javascript">
<!--
  var wsBarcodeUrl = "@routes.BarcodeController.scanBarcode().webSocketURL()";
//->
</script>
<script src="@routes.Assets.at("javascripts/barcodeScanner.js")" type="text/javascript"></script>


<div id="cameraWrapper"></div>
<canvas id="bccanvas" style="display:none;"></canvas>


<div id="barcodeStatus" class="alert"></div>

<div id="camsWrapper" style="display: none;">
 <select id="cams"></select>
</div>

<a class="btn" href="#" onclick="barcodeStartCaputring(false);"><i class="icon-camera-retro"></i> Start</a>
<a class="btn" href="#" onclick="barcodeStartCaputring(true);"><i class="icon-camera-retro"></i> <i class="icon-search"></i> Start & Search</a>