@(reservations: Map[User,List[CopyReservation]])
@import _root_.helpers.EImageSize

@import helper._
@import helper.twitterBootstrap._

@scripts = {
  <script src="@routes.Assets.at("javascripts/reservations.js")" type="text/javascript"></script>
}

@mainmenu("Reservations",scripts) {

  <div class="row well">

    <fieldset>
      <legend><i class="icon-list"></i> Reservations</legend>

          <div id="reservationsTab" class="tabbable tabs-left">
            <ul class="nav nav-tabs">
              @for((borrower,reservations) <- reservations) {
                <li>
                  <a href="#resTab@borrower.id" data-toggle="tab"><img src="@routes.Dashboard.gravatar(16,borrower.userName)" width="16" height="16" /> @borrower.userName (@reservations.size)</a>
                </li>
              }
            </ul>
            <div class="tab-content">
              @for((borrower,reservations) <- reservations) {
                <div class="tab-pane" id="resTab@borrower.id">

                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th><input type="checkbox" class="reservationsCheckAll" data-borrower="@borrower.id"/></th>
                        <th>Item</th>
                        <th>Reserved @@</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for(reservation <- reservations) {
                        <tr>
                          <td>
                            @if(reservation.copy.borrowDate == null) {
                              <input type="checkbox" class="reservationsCopyCheckBox" data-borrower="@borrower.id" data-resid="@reservation.id" />
                            }
                          </td>
                          <td>@general.displayitem(reservation.copy,true)</td>
                          <td>@{new Date(reservation.date)}</td>
                        </tr>
                      }
                    </tbody>
                    <tfoot>
                      <tr>
                        <th colspan="3">
                          <div  class="pull-right">
                            <button type="button" class="btn btn-warning disabled" onclick="borrowReservations(@borrower.id);"><i class="icon-share"></i> Borrow</button>
                            <button type="button" class="btn btn-danger disabled" onclick="deleteReservations(@borrower.id);"><i class="icon-trash"></i> Delete</button>
                          </div>
                        </th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              }
            </div>
          </div>

    </fieldset>

  </div>
}