@(reservations: Map[User,List[CopyReservation]])
@import org.apache.commons.collections.MapUtils


@scripts = {

  @general.jsI18n("btn.delete","headline.removeReservations","lbl.removeReservations", "lbl.lendSelectedReservations","headline.lendReservations","btn.lend");
  <script src="@routes.Assets.versioned("javascripts/reservations.js")" type="text/javascript"></script>
}

@mainmenu(Messages("lbl.reservations"),scripts) {

  @general.displayList("lbl.reservations","icon-list") {

          @if(MapUtils.isEmpty(reservations)) {
            <div class="alert alert-info">
              @Messages("msg.info.noReservations")
            </div>
          } else  {

          <div id="reservationsTab" class="tabbable tabs-left">
            <ul class="nav nav-tabs">
              @for((borrower,reservations) <- reservations) {
                <li>
                  <a href="#resTab@borrower.id" data-toggle="tab"><img src="@routes.DashboardController.gravatar(16,borrower.userName)" width="16" height="16" /> @borrower.userName (@reservations.size)</a>
                </li>
              }
            </ul>
            <div class="tab-content">
              @for((borrower,reservations) <- reservations) {
                <div class="tab-pane" id="resTab@borrower.id">

                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th><input type="checkbox" class="reservationsCheckAll" data-borrower="@borrower.id"/></th>
                        <th>@Messages("lbl.copy")</th>
                        <th>@Messages("lbl.date")</th>
                      </tr>
                    </thead>
                    <tbody>
                      @for(reservation <- reservations) {
                        <tr>
                          <td>
                            @if(reservation.copy.borrowDate == null) {
                              <input type="checkbox" class="reservationsCopyCheckBox" data-borrower="@borrower.id" data-resid="@reservation.id" />
                            }
                          </td>
                          <td>@general.displayitem(reservation.copy,true)</td>
                          <td>@{new Date(reservation.date).format(Messages("dateFormatHour"))}</td>
                        </tr>
                      }
                    </tbody>
                    <tfoot>
                      <tr>
                        <th colspan="3">
                          <div  class="pull-right">
                            <button type="button" class="btn btn-warning disabled" onclick="borrowReservations(@borrower.id);"><i class="icon-share"></i> @Messages("btn.lend")</button>
                            <button type="button" class="btn btn-danger disabled" onclick="deleteReservations(@borrower.id);"><i class="icon-trash"></i> @Messages("btn.delete")</button>
                          </div>
                        </th>
                      </tr>
                    </tfoot>
                  </table>
                </div>
              }
            </div>
          </div>

          }
  }
}