@(rssAuthKey: String)(implicit request: Http.Request, messages: play.i18n.Messages)
@import org.apache.commons.lang3.StringUtils

@mainmenu(messages("headline.rssFeedLinks")) {
  @general.displayList("headline.rssFeedLinks","icon-rss-sign") {
    @if(StringUtils.isEmpty(rssAuthKey) == false) {
      <dl class="dl-horizontal">
        <dt>@messages("lbl.rssLastAdded")</dt>
        <dd>
          <a href="@routes.RssFeedsController.getLastAddedCopies.absoluteURL()?@RssSecurityAction.RSS_FEED_AUTH_PARAM=@rssAuthKey" target="_blank">
            @routes.RssFeedsController.getLastAddedCopies.absoluteURL()?@RssSecurityAction.RSS_FEED_AUTH_PARAM=@rssAuthKey
          </a>
        </dd>
        <dt>@messages("lbl.rssLastWeekAdded")</dt>
        <dd>
          <a href="@routes.RssFeedsController.getLastAddedWeekCopies.absoluteURL()?@RssSecurityAction.RSS_FEED_AUTH_PARAM=@rssAuthKey" target="_blank">
            @routes.RssFeedsController.getLastAddedWeekCopies.absoluteURL()?@RssSecurityAction.RSS_FEED_AUTH_PARAM=@rssAuthKey
          </a>
        </dd>
      </dl>
    } else {
      <div class="alert">
        <strong>@Html(messages("msg.info.noRssAuthKey", "<a href="+routes.UserProfileController.showProfile()+">"+messages("lbl.profile")+"</a>"))</strong>
      </div>
    }
  }
}