@(copy: Dvd, rssAuthKey: String)(implicit request: Http.Request, messages: play.i18n.Messages)
@import org.apache.commons.lang3.StringUtils
<h1>@general.displayCopyTitle(copy)</h1>

<div>
 @if(copy.getMovie.getHasPoster == true) {
   <img style="float: left; margin-right: 10px;" src="@routes.RssFeedsController.getPosterImage(copy.getMovie.getId).absoluteURL()?@RssSecurityAction.RSS_FEED_AUTH_PARAM=@rssAuthKey" alt="poster" />
 }

 <div>

   <ul style="list-style: none;">
     @for(attr <- copy.getAttributes) {
       @if(EDvdAttributeType.COPY_TYPE.eq(attr.attributeType) == true) {
         <li>@attr.value</li>
       }
       @if(EDvdAttributeType.RATING.eq(attr.attributeType) == true) {
         <li>@attr.value</li>
       }
     }
   </ul>

   @if(StringUtils.isEmpty(copy.getMovie.getDescription) == false) {
     <p>@copy.getMovie.getDescription</p>
   }

 </div>

</div>
