@(form: Form[forms.user.LoginForm])(implicit request: Http.Request, messages: play.i18n.Messages)
@main(messages("headline.login")) {

  <div class="row-fluid">
    <div class="span4"></div>
    <div class="span4">
    @helper.form(routes.RegisterLoginController.login(), 'class -> "well") {


      <h4>@messages("headline.login")</h4>
      <hr />

      @if(form.hasGlobalErrors) {
        <p class="alert alert-error">
        @for(error <- form.globalErrors) {
          <p>@error.format(messages)</p>
        }
        </p>
      }

      @if(request.flash.get("success").isDefined) {
        <p class="alert alert-success">
        @request.flash.get("success").get()
        </p>
      }



      <input name="username" type="text" placeholder="@messages("lbl.username") ..." class="tooltip-top" title="Enter username"/>
      <input name="password" type="password" placeholder="@messages("lbl.password") ..." class="tooltip-top" title="Enter password"/>


      <div class="form-actions">
        <button type="submit" clasS="btn btn-primary btn-block"><i class="icon-signin"></i> @messages("btn.login")</button>
      </div>

      <div class="form-actions">
        <a class="btn btn-info" href="@routes.RegisterLoginController.register"><i class="icon-user"></i> @messages("btn.register")</a>
        <a class="btn btn-warning" href="@routes.PasswordResetController.showPasswordForget"><i class="icon-bolt"></i> @messages("btn.password")</a>
      </div>


    }
    </div>
    <div class="span4"></div>
  </div>
}