@(lostpasswordform: Form[forms.LostPasswordForm])

@import helper._
@import helper.twitterBootstrap._


@main("Dvd Database - Lost password") {

  <div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">

    @form(routes.Application.registeruser,'class -> "well") {
      <h4>Lost Password ?</h4>

      @if(flash.contains("success")) {
        <p class="alert alert-success">
        @flash.get("success")
        </p>
      }

      <hr />
      @inputText(lostpasswordform("email"),'_label -> "E-Mail", 'placeholder -> "Enter valid E-Mail")


    }



  </div>
    <div class="span2"></div>
  </div>




}