@(lostpasswordform: Form[forms.user.LostPasswordForm])

@main(Messages.apply("headline.lostPassword")) {

  @twbs.formhelper.html.form(routes.PasswordResetController.sendPasswordForget, 'class -> "well form-signin") {
    <h2 class="text-center">@Messages.apply("headline.lostPassword")</h2>
    <hr />

    @if(lostpasswordform.hasGlobalErrors) {
      <div class="alert alert-danger">
      @Messages(lostpasswordform.globalError.message)
      </div>
    }
    @if(flash.contains("success")) {
      <p class="alert alert-success">
      @flash.get("success")
      </p>
    }

    @twbs.formhelper.html.inputText(lostpasswordform("username"), '_label -> Messages.apply("lbl.username"))

    <button type="submit" class="btn btn-warning btn-block"><i class="fa fa-bolt"></i> @Messages.apply("btn.passwordRequest")</button>
    @views.html.general.backButton()

  }

}