@(lostpasswordform: Form[forms.user.LostPasswordForm])
@import forms.user.LostPasswordForm

@import helper._
@import helper.twitterBootstrap._


@main("Dvd Database - Lost password") {

  <div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">

    @form(routes.PasswordResetController.sendPasswordForget,'class -> "well") {
      <h4>Lost Password ?</h4>

      @if(flash.contains("success")) {
        <p class="alert alert-success">
        @flash.get("success")
        </p>
      }

      <hr />
      @inputText(lostpasswordform("username"),'_label -> "Username", 'placeholder -> "Enter your username")

      <div class="form-actions">
        <button type="submit" class="btn btn-warning"><i class="icon-bolt"></i> Send email</button>
        <a class="btn" href="@routes.Application.index">Back</a>
      </div>


    }



  </div>
    <div class="span2"></div>
  </div>




}