@(resetpassform: Form[forms.user.PasswordResetForm],token: String)(implicit request: Http.Request, messages: play.i18n.Messages)


@import helper._


@main(messages("headline.resetPassword")) {

  <div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">


    @form(routes.PasswordResetController.passwordReset(token),'class -> "well") {
      <h4>@Messages("headline.resetPassword")</h4>

      @if(resetpassform.hasGlobalErrors) {
        @for(error <- resetpassform.globalErrors) {
          <p class="alert alert-error">
          @error.format(messages)
          </p>
        }
      }

      <hr  />
      @inputPassword(resetpassform("password"),Symbol("_label") -> messages("lbl.password"), Symbol("_showConstraints") -> true)
      @inputPassword(resetpassform("rePassword"),Symbol("_label") -> messages("lbl.repassword"), Symbol("_showConstraints") -> true)
      <hr  />

      <div class="form-actions">
        <button type="submit" class="btn btn-warning"><i class="icon-bolt"></i> @messages("btn.passwordReset")</button>
        <a class="btn" href="@routes.ApplicationController.index">@messages("btn.back")</a>
      </div>


    }

  </div>
    <div class="span2"></div>
  </div>




}