@(resetpassform: Form[forms.user.PasswordResetForm], token: String)

@main(Messages.apply("headline.resetPassword")) {

  @twbs.formhelper.html.form(routes.PasswordResetController.passwordReset(token), 'class -> "well form-signin") {

    <h2 class="text-center">@Messages("headline.resetPassword")</h2>
    <hr />


    @if(resetpassform.hasGlobalErrors) {
      <div class="alert alert-danger">
      @Messages(resetpassform.globalError.message)
      </div>
    }
    @if(flash.contains("success")) {
      <p class="alert alert-success">
      @flash.get("success")
      </p>
    }


    @twbs.formhelper.html.inputPassword(resetpassform("password"), '_label -> Messages.apply("lbl.password"), '_showConstraints -> true)
    @twbs.formhelper.html.inputPassword(resetpassform("rePassword"), '_label -> Messages.apply("lbl.repassword"), '_showConstraints -> true)



    <button type="submit" class="btn btn-warning btn-block"><i class="fa fa-bolt"></i> @Messages.apply("btn.passwordReset")</button>
    @views.html.general.backButton()
  }


}