@(resetpassform: Form[forms.user.PasswordResetForm],token: String)

@import helper._


@main(Messages.apply("headline.resetPassword")) {

  <div class="row-fluid">
    <div class="span2"></div>
    <div class="span8">


    @form(routes.PasswordResetController.passwordReset(token),'class -> "well") {
      <h4>@Messages.apply("headline.resetPassword")</h4>

      @if(resetpassform.hasGlobalErrors) {
        <p class="alert alert-error">
          @resetpassform.globalError.message
        </p>
      }

      <hr  />
      @inputPassword(resetpassform("password"),'_label -> Messages.apply("lbl.password"), '_showConstraints -> true)
      @inputPassword(resetpassform("rePassword"),'_label -> Messages.apply("lbl.repassword"), '_showConstraints -> true)
      <hr  />

      <div class="form-actions">
        <button type="submit" class="btn btn-warning"><i class="icon-bolt"></i> @Messages.apply("btn.passwordReset")</button>
        <a class="btn" href="@routes.ApplicationController.index">@Messages.apply("btn.back")</a>
      </div>


    }

  </div>
    <div class="span2"></div>
  </div>




}