@(regForm: Form[forms.user.RegisterForm])

@main(Messages.apply("headline.register")) {

  @twbs.formhelper.html.form(routes.RegisterLoginController.register(), 'class -> "well form-signin") {

    <h2 class="text-center">@Messages.apply("headline.register")</h2>
    <hr />

    @if(regForm.hasGlobalErrors) {
      <div class="alert alert-danger">
      @Messages(regForm.globalError.message)
      </div>
    }
    @if(flash.contains("success")) {
      <p class="alert alert-success">
      @flash.get("success")
      </p>
    }

    @twbs.formhelper.html.inputText(regForm("username"), '_label -> Messages.apply("lbl.username"), '_showConstraints -> true, 'size -> 10)
    @twbs.formhelper.html.inputText(regForm("email"), '_label -> Messages.apply("lbl.email"))

    <hr  />

    @twbs.formhelper.html.inputPassword(regForm("password"), '_label -> Messages.apply("lbl.password"), '_showConstraints -> true)
    @twbs.formhelper.html.inputPassword(regForm("repassword"), '_label -> Messages.apply("lbl.repassword"), '_showConstraints -> true)

    <hr  />

    <button type="submit" class="btn btn-primary btn-block"><i class="fa fa-user"></i> @Messages.apply("btn.register")</button>
    @views.html.general.backButton()
  }
}