@(regForm: Form[forms.user.RegisterForm])
@import helpers.DvdInfoHelper

@import helper._

@main(Messages.apply("headline.register")) {
   
   
   <div class="row-fluid">
   
   
     <div class="span2"></div>
     <div class="span8">
   
     @form(routes.RegisterLoginController.register(),'class -> "well") {
   
       <h4>@Messages.apply("headline.register")</h4>
       <hr />  
   
       @if(regForm.hasGlobalErrors) { 
         <p class="alert alert-error">
           @regForm.globalError.message
         </p>
       }
            
       @if(flash.contains("success")) {
         <p class="alert alert-success">
           @flash.get("success")
         </p>
       }
       
       
       @inputText(regForm("username"),'_label -> Messages.apply("lbl.username"), '_showConstraints -> true, 'size -> 10)
       

       <hr  />       
       @inputPassword(regForm("password"),'_label -> Messages.apply("lbl.password"), '_showConstraints -> true)
       @inputPassword(regForm("repassword"),'_label -> Messages.apply("lbl.repassword"), '_showConstraints -> true)
       <hr  />       
       
       @inputText(regForm("email"),'_label -> Messages.apply("lbl.email"))
       <hr />

       <label for="defaultCopyType">@Messages.apply("lbl.defaultCopyType")</label>
       @for((copyType,index) <- DvdInfoHelper.getCopyTypes.zipWithIndex) {
         <input type="radio" id="defaultCopyType" name="defaultCopyType" value="@copyType" @if(copyType == regForm("defaultCopyType").value() || index == 0 ){ checked="checked" } /><span><img alt="@copyType" src="@routes.Assets.versioned("images/copy_type/"+copyType+".png")" /></span>
       }
       <hr />
       
       
       <div class="form-actions">
         <button type="submit" class="btn btn-primary"><i class="icon-user"></i> @Messages.apply("btn.register")</button>
         <a class="btn" href="@routes.Application.index">@Messages.apply("btn.back")</a>
       </div>
   
  
    }
    </div>
  
    <div class="span2"></div>
  
  </div>
  
}