@(profileForm: Form[forms.user.UserProfileForm])(implicit request: Http.Request, messages: play.i18n.Messages)
@import helpers.DvdInfoHelper

@import helper._


@mainmenu(messages("headline.userProfile",Secured.getUsernameStatic(request)),Html(""),Html("")) {
  <div class="row-fluid">


    <div class="span2"></div>
    <div class="span8">

    @form(routes.UserProfileController.updateProfile,Symbol("class") -> "well") {

      <h4>@messages("headline.userProfile",Secured.getUsernameStatic(request)) @views.html.dashboard.userImage(Secured.getUsernameStatic(request),Secured.getUserHasGravatar(request),16) </h4>
      <hr />

      @if(profileForm.hasGlobalErrors) {
        @for(error <- profileForm.globalErrors) {
          <p class="alert alert-error">
          @error.format(messages)
          </p>
        }
      }

      @if(request.flash.get("success").isDefined) {
        <p class="alert alert-success">
        @request.flash.get("success").get()
        </p>
      }

      @inputText(profileForm("email"),Symbol("_label") -> messages("lbl.email"))
      <hr />


      @inputPassword(profileForm("password"),Symbol("_label") -> messages("lbl.password"), Symbol("_showConstraints") -> true)
      @inputPassword(profileForm("rePassword"),Symbol("_label") -> messages("lbl.repassword"), Symbol("_showConstraints") -> true)
      <hr  />

      <label for="defaultCopyType">@messages("lbl.defaultCopyType")</label>
      @for((copyType,index) <- DvdInfoHelper.getCopyTypes.zipWithIndex) {
        <input type="radio" id="defaultCopyType" name="defaultCopyType" value="@copyType" @if((copyType == profileForm("defaultCopyType").value.get) || index == 0 ){ checked="checked" } /><span><img alt="@copyType" src="@routes.Assets.versioned("images/copy_type/"+copyType+".png")" /></span>
      }
      <hr />


      <label for="rssAuthKey"><i class="icon-rss-sign"></i>@Messages("lbl.rssAuthKey")</label>
      <p>@profileForm("rssAuthKey").value</p>


      <hr />

      <div class="form-actions">
        <button type="submit" class="btn btn-warning"><i class="icon-user"></i> @messages("btn.update")</button>
        <a class="btn" href="@routes.ApplicationController.index">@messages("btn.back")</a>
      </div>
    }
    </div>

    <div class="span2"></div>

  </div>
}