@(profileForm: Form[forms.user.UserProfileForm])
@import helpers.DvdInfoHelper


@mainmenu(Messages.apply("headline.userProfile",Secured.getUsername),Html(""),Html("")) {

    @form(routes.UserProfileController.updateProfile,'class -> "well") {

      <h4>@Messages.apply("headline.userProfile",Secured.getUsername) @views.html.dashboard.userImage(Secured.getUsername,Secured.getUserHasGravatar,16) </h4>
      <hr />

      @if(profileForm.hasGlobalErrors) {
        <p class="alert alert-error">
        @Messages(profileForm.globalError.message)
        </p>
      }

      @inputText(profileForm("email"),'_label -> Messages.apply("lbl.email"))

      <hr />


      @inputPassword(profileForm("password"),'_label -> Messages.apply("lbl.password"), '_showConstraints -> true)
      @inputPassword(profileForm("rePassword"),'_label -> Messages.apply("lbl.repassword"), '_showConstraints -> true)
      <hr  />

      <label for="defaultCopyType">@Messages.apply("lbl.defaultCopyType")</label>
      @for((copyType,index) <- DvdInfoHelper.getCopyTypes.zipWithIndex) {
        <input type="radio" id="defaultCopyType" name="defaultCopyType" value="@copyType" @if((copyType.equals(profileForm("defaultCopyType").value)) || index == 0 ){ checked="checked" } /><span><img alt="@copyType" src="@routes.Assets.versioned("images/copy_type/"+copyType+".png")" /></span>
      }

      <hr />

      <label for="rssAuthKey"><i class="icon-rss-sign"></i>@Messages("lbl.rssAuthKey")</label>
      <p>@profileForm("rssAuthKey").value</p>

      <hr />

      <button type="submit" class="btn btn-warning"><i class="fa fa-user"></i> @Messages.apply("btn.update")</button>
      @views.html.general.backButton(false)

    }
}