@(profileForm: Form[forms.user.UserProfileForm])
@import helpers.DvdInfoHelper

@import helper._


@mainmenu(Messages.apply("headline.userProfile",Secured.getUsername),Html(""),Html("")) {
  <div class="row-fluid">


    <div class="span2"></div>
    <div class="span8">

    @form(routes.UserProfileController.updateProfile,'class -> "well") {

      <h4>@Messages.apply("headline.userProfile",Secured.getUsername) <img src="@routes.Dashboard.gravatar(16,Controller.ctx().session().get(Secured.AUTH_SESSION))" width="16" height="16" /></h4>
      <hr />

      @if(profileForm.hasGlobalErrors) {
        <p class="alert alert-error">
        @profileForm.globalError.message
        </p>
      }

      @if(flash.contains("success")) {
        <p class="alert alert-success">
        @flash.get("success")
        </p>
      }

      @inputText(profileForm("email"),'_label -> Messages.apply("lbl.email"))
      <hr />


      @inputPassword(profileForm("password"),'_label -> Messages.apply("lbl.password"), '_showConstraints -> true)
      @inputPassword(profileForm("rePassword"),'_label -> Messages.apply("lbl.repassword"), '_showConstraints -> true)
      <hr  />

      <label for="defaultCopyType">@Messages.apply("lbl.defaultCopyType")</label>
      @for((copyType,index) <- DvdInfoHelper.getCopyTypes.zipWithIndex) {
        <input type="radio" id="defaultCopyType" name="defaultCopyType" value="@copyType" @if((copyType.equals(profileForm("defaultCopyType").value)) || index == 0 ){ checked="checked" } /><span><img alt="@copyType" src="@routes.Assets.versioned("images/copy_type/"+copyType+".png")" /></span>
      }
      <hr />


      <label for="rssAuthKey"><i class="icon-rss-sign"></i>@Messages("lbl.rssAuthKey")</label>
      <p>@profileForm("rssAuthKey").value</p>


      <hr />

      <div class="form-actions">
        <button type="submit" class="btn btn-warning"><i class="icon-user"></i> @Messages.apply("btn.update")</button>
        <a class="btn" href="@routes.Application.index">@Messages.apply("btn.back")</a>
      </div>
    }
    </div>

    <div class="span2"></div>

  </div>
}