@import grabbers.amazonwebcrawler.AmazonResult
@(amazonResult:  AmazonResult, code: String, copyId: Long,movies : List[Movie])(implicit request: Http.Request, messages: play.i18n.Messages)

@import helpers.EImageType
@import helpers.EImageSize
@import org.apache.commons.collections.CollectionUtils

<form method="GET" >
  <label for="code_input">@messages("lbl.searchAmazon"):</label>
  <div class="input-append">
    <input  type="text" name="code_input" id="code_input" value="@code"/>
    <button type="button" id="amazon_search_button" class="btn" onclick="openSearchAmazonPopUp($('#code_input').val(),@copyId);"><i class="icon-search"></i></button>
  </div>

  <hr />

  @if(amazonResult == null) {
    <div class="alert alert-error">@messages("msg.error.noCopyInfoFound")</div>
  } else {
    <div class="col_12">
      <div class="alert alert-success">
        @messages("lbl.foundCopyInfo"): <strong>@amazonResult.title</strong>
        <img alt="@amazonResult.copyType" src="@routes.Assets.versioned("images/copy_type/"+amazonResult.copyType+".png")" />
        <img alt="@amazonResult.rating" src="@routes.Assets.versioned("images/agerating/"+amazonResult.rating+".gif")" />
        @messages("lbl.asinNr"): <a href="http://www.amazon.de/dp/@amazonResult.asin" target="_blank">@amazonResult.asin</a>
        @messages("lbl.eanNr"): @amazonResult.ean
        <a href="@routes.CopyController.showCopyFormWithAmazonInfo(code,copyId)"  class="btn btn-primary"><i class="icon-reply"></i></a>
      </div>
    </div>


      <div class="input-append">
        <label for="codeMovieGrabberTitle">@messages("btn.lookupWithGrabber"): </label>
        <input type="text" name="amazonMovieGrabberTitle" id="amazonMovieGrabberTitle" value="@amazonResult.title" placeholder="Enter title" class="span6" />
        <button type="button" class="btn btn-info" onclick="amazonStartOnlineGrabber('@code',$('#amazonMovieGrabberTitle').val(),@copyId);"><i class="icon-search"></i></button>
      </div>


      @if(CollectionUtils.isEmpty(movies) == false) {
        <hr />
        <label>@messages("lbl.moviesMatching"):</label>
        <ul class="unstyled">
          @for(movie <- movies) {
            <li>
              @if(movie.getHasPoster) {
                <img src="@routes.DashboardController.streamImage(movie.getId,EImageType.POSTER.name(),EImageSize.TINY.name())"/>
              }
              @movie.getTitle
            <a href="@routes.CopyController.showDvdByAmazonAndMovie(code,movie.getId,copyId)"  class="btn btn-primary"><i class="icon-reply"></i></a>
            </li>
          }
        </ul>
      }

      <hr />

      <label for="amazonPickMovie">@messages("lbl.pickMovie"): </label>
      <input type="text" name="amazonPickMovie" id="amazonPickMovie"  class="span6" />
      <button type="button" class="btn btn-primary" onclick="amazonPickExistingMovie('@code',$('#amazonPickMovie').val());"><i class="icon-reply"></i></button>




}
</form>