@(amazonResult:  grabbers.amazon.AmazonResult, code: String, copyId: Long,movies : List[Movie])
@import helpers.EImageType
@import helpers.EImageSize
@import org.apache.commons.collections.CollectionUtils

<form method="GET" >
  <label>Search Amazon for (EAN or ASIN):</label>
  <div class="input-append">
    <input type="text" name="code_input" id="code_input" value="@code"/>
    <button type="button" id="amazon_search_button" class="btn" onclick="openSearchAmazonPopUp($('#code_input').val(),@copyId);"><i class="icon-search"></i></button>
  </div>

  <hr />

  @if(amazonResult == null) {
    <div class="alert alert-error">No movie found</div>
  } else {
    <div class="col_12">
      <div class="alert alert-success">
        Found movie: <strong>@amazonResult.title</strong>
        <img alt="@amazonResult.copyType" src="@routes.Assets.at("images/copy_type/"+amazonResult.copyType+".png")" />
        <img alt="@amazonResult.rating" src="@routes.Assets.at("images/agerating/"+amazonResult.rating+".gif")" />
        ASIN: <a href="http://www.amazon.de/dp/@amazonResult.asin" target="_blank">@amazonResult.asin</a>
        EAN: @amazonResult.ean
        <a href="@routes.DvdController.showCopyFormWithAmazonInfo(code,copyId)"  class="btn btn-primary"><i class="icon-reply"></i></a>
      </div>
    </div>


      <div class="input-append">
        <label for="codeMovieGrabberTitle">Search with Onlinegrabber: </label>
        <input type="text" name="amazonMovieGrabberTitle" id="amazonMovieGrabberTitle" value="@amazonResult.title" placeholder="Enter title" class="span6" />
        <button type="button" class="btn btn-info" onclick="amazonStartOnlineGrabber('@code',$('#amazonMovieGrabberTitle').val(),@copyId);"><i class="icon-search"></i></button>
      </div>


      @if(CollectionUtils.isEmpty(movies) == false) {
        <hr />
        <label>Movies matching in Database</label>
        <ul class="unstyled">
          @for(movie <- movies) {
            <li>
              @if(movie.hasPoster) {
                <img src="@routes.Dashboard.streamImage(movie.id,EImageType.POSTER.name(),EImageSize.TINY.name())"/>
              }
              @movie.title
            <a href="@routes.DvdController.showDvdByAmazonAndMovie(code,movie.id,copyId)"  class="btn btn-primary"><i class="icon-reply"></i></a>
            </li>
          }
        </ul>
      }

      <hr />

      <label for="amazonPickMovie">Or pick existing movie: </label>
      <input type="text" name="amazonPickMovie" id="amazonPickMovie"  class="span6" />
      <button type="button" class="btn btn-primary" onclick="amazonPickExistingMovie('@code',$('#amazonPickMovie').val());"><i class="icon-reply"></i></button>




}
</form>