@(amazonResult:  grabbers.amazon.AmazonResult, code: String, copyId: Long,movies : List[Movie])
@import helpers.EImageType
@import helpers.EImageSize
@import org.apache.commons.collections.CollectionUtils

<form method="GET" >
  <label>Search Amazon for (EAN or ASIN):</label>
  <div class="input-append">
    <input type="text" name="code_input" id="code_input" value="@code"/>
    <button type="button" id="amazon_search_button" class="btn" onclick="openSearchAmazonPopUp($('#code_input').val(),@copyId);"><i class="icon-search"></i></button>
  </div>

  <hr />

  @if(amazonResult == null) {
    <div class="alert alert-error">No movie found</div>
  } else {
    <div class="col_12">
      <div class="alert alert-success">
        Found movie: <strong>@amazonResult.title</strong>
        <img alt="@amazonResult.copyType" src="@routes.Assets.at("images/copy_type/"+amazonResult.copyType+".png")" />
        <img alt="@amazonResult.rating" src="@routes.Assets.at("images/agerating/"+amazonResult.rating+".gif")" />
        ASIN: <a href="http://www.amazon.de/dp/@amazonResult.asin" target="_blank">@amazonResult.asin</a>
        EAN: @amazonResult.ean
      </div>
    </div>

  <ul id="myTab" class="nav nav-tabs">
    @if(CollectionUtils.isEmpty(movies) == false) {
      <li class="active"><a href="#codeAlreadyExistingMovieTab" data-toggle="tab">Already known</a></li>
    }
    <li @if(CollectionUtils.isEmpty(movies) == true) { class="active" }><a href="#codeNewMovieTab" data-toggle="tab">General options</a></li>
  </ul>

  <div id="myTabContent" class="tab-content">

    @if(CollectionUtils.isEmpty(movies) == false) {
      <div class="tab-pane fade in active" id="codeAlreadyExistingMovieTab">
        <ul class="unstyled">
          @for(movie <- movies) {
            <li>
              @if(movie.hasPoster) {
                <img src="@routes.Dashboard.streamImage(movie.id,EImageType.POSTER.name(),EImageSize.TINY.name())"/>
              }
              @movie.title
              <a href="@routes.DvdController.showDvdByAmazonAndMovie(code,movie.id,copyId)"  class="btn btn-primary"><i class="icon-reply"></i></a>
            </li>
          }
        </ul>
      </div>
    }

    <div class="tab-pane fade in@if(CollectionUtils.isEmpty(movies) == true) { active}" id="codeNewMovieTab">
      <div class="input-append">
        <label for="codeMovieGrabberTitle">Search with Onlinegrabber: </label>
        <input type="text" name="amazonMovieGrabberTitle" id="amazonMovieGrabberTitle" value="@amazonResult.title" placeholder="Enter title" class="span6" />
        <button type="button" class="btn btn-info" onclick="amazonStartOnlineGrabber('@code',$('#amazonMovieGrabberTitle').val(),@copyId);"><i class="icon-search"></i></button>
      </div>

      <hr />

      <label for="amazonPickMovie">Or pick existing movie: </label>
      <input type="text" name="amazonPickMovie" id="amazonPickMovie"  class="span6" />
      <br />
      <br />
      <button type="button" class="btn btn-primary" onclick="amazonPickExistingMovie('@code',$('#amazonPickMovie').val());"><i class="icon-reply"></i></button>
    </div>

  </div>

}
</form>