@(amazonResult:  grabbers.amazon.AmazonResult, eanNr: String, movies : List[Movie])
@import helpers.EImageType
@import helpers.EImageSize
@import org.apache.commons.collections.CollectionUtils

<form method="GET" >
  <label>Search Amazon for EAN:</label>
  <div class="input-append">
    <input type="text" name="eanNr_input" id="eanNr_input" value="@eanNr"/>
    <button type="button" id="grabber_search_button" class="btn" onclick="openSearchEanPopUp($('#eanNr_input').val());"><i class="icon-search"></i></button>
  </div>

  <hr />

  @if(amazonResult == null) {
    <div class="alert alert-error">No movie found</div>
  } else {
    <div class="col_12">
      <div class="alert alert-success">
        Found movie: <strong>@amazonResult.title</strong>
        <img alt="@amazonResult.copyType" src="@routes.Assets.at("images/copy_type/"+amazonResult.copyType+".png")" />
        <img alt="@amazonResult.rating" src="@routes.Assets.at("images/agerating/"+amazonResult.rating+".gif")" />
        ASIN: <a href="http://www.amazon.de/dp/@amazonResult.asin" target="_blank">@amazonResult.asin</a>
      </div>
    </div>

  <ul id="myTab" class="nav nav-tabs">
    @if(CollectionUtils.isEmpty(movies) == false) {
      <li><a href="#eanAlreadyExistingMovieTab" class="active" data-toggle="tab">Already known by title</a></li>
    }
    <li @if(CollectionUtils.isEmpty(movies) == true) { class="active" }><a href="#eanNewMovieTab" data-toggle="tab">New Movie</a></li>
    <li><a href="#eanExistingMovieTab" data-toggle="tab">Pick existing movie</a></li>
  </ul>

  <div id="myTabContent" class="tab-content">

    @if(CollectionUtils.isEmpty(movies) == false) {
      <div class="tab-pane fade in active" id="eanAlreadyExistingMovieTab">
        <ul class="unstyled">
          @for(movie <- movies) {
            <li>
              @if(movie.hasPoster) {
                <img src="@routes.Dashboard.streamImage(movie.id,EImageType.POSTER.name(),EImageSize.TINY.name())"/>
              }
              @movie.title
              <a href="@routes.DvdController.showAddDvdByEanAndMovie(eanNr,movie.id)"  class="btn btn-primary"><i class="icon-reply"></i></a>
            </li>
          }
        </ul>
      </div>
    }

    <div class="tab-pane fade in@if(CollectionUtils.isEmpty(movies) == true) {active}" id="eanNewMovieTab">
      New movie
    </div>

    <div class="tab-pane fade in" id="eanExistingMovieTab">
      <input type="text" name="eanPickMovie" id="eanPickMovie"  class="span6" />
      <br />
      <br />
      <button type="button" class="btn btn-primary" onclick="eanPickExistingMovie('@eanNr',$('#eanPickMovie').val());"><i class="icon-reply"></i></button>
    </div>

  </div>

}
</form>