@(dvdForm: Form[forms.dvd.DvdForm])(mode: String)

@import helper._
@import helper.twitterBootstrap._

@scripts = {
  <script type="text/javascript">
   <!--
     var avaibleBoxes = @Html(DvdAttribute.getAllByTypeAsJson(EDvdAttributeType.BOX));
     var avaibleCollections = @Html(DvdAttribute.getAllByTypeAsJson(EDvdAttributeType.COLLECTION));
     var selectedMovie = @Html(forms.dvd.DvdForm.getSelectedMovieAsJson(dvdForm("movieId").value()));
     var avaibleSeries = @Html(models.MovieAttribute.getAvaibleAttributesAsJson(EMovieAttributeType.MOVIE_SERIES));
   //-->
  </script>

  @general.jsI18n("window.Messages",
    "headline.grabberSearch",
    "headline.grabberMovieInfo",
    "btn.ok",
    "headline.movieAlreadyExists",
    "lbl.movieAlreadyExists",
    "headline.barcodeScanner",
    "msg.error.barcodeNotFound",
    "msg.info.barcodeWait",
    "headline.amazonGrabber")

  <script src="@routes.Assets.at("jquery-webcam/jquery.webcam.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/dvdForm.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/grabber.js")" type="text/javascript"></script>
  <script src="@routes.Assets.at("javascripts/movieForm.js")" type="text/javascript"></script>
}

@mainmenu(Messages("headline."+mode+"Copy"),scripts,Html("")) {

  <div class="row">
    <div class="span12">

  @form(routes.DvdController.addDvd(mode)) {
  <div class="row" id="dvdFormWrapper">

       <div class="span5 well">

           <h4>@if(mode == DvdController.DVD_FORM_EDIT_MODE) {<i class="icon-edit"></i> @Messages("headline.editCopy")} else {<i class="icon-plus"></i> @Messages("headline.addCopy")} </h4>

           @if(mode == DvdController.DVD_FORM_EDIT_MODE) {
             <input type="hidden" name="dvdId" id="dvdId" value="@dvdForm("dvdId").value"/>
           }

           <div class="input-append">
             <label>@Messages("lbl.eanNr"):</label>
             <input type="text" name="eanNr" id="eanNr" class="span2" value="@dvdForm("eanNr").value"/>
             <button type="button" class="btn" onclick="openBarcodePopUp();"><i class="icon-barcode"></i></button>
             <button type="button" class="btn" onclick="openAmazonLookUp($('#eanNr').val());"><i class="icon-search"></i></button>
           </div>
           <br />
           <div class="input-append">
             <label>@Messages("lbl.asinNr"):</label>
             <input type="text" name="asinNr" id="asinNr" class="span2" value="@dvdForm("asinNr").value"/>
             <button type="button" class="btn" onclick="openAmazonLookUp($('#asinNr').val());"><i class="icon-search"></i></button>
           </div>

           @inputText(dvdForm("additionalInfo"),'_label -> Messages("lbl.additionalInfos"), 'class -> "span4")


           <label for="copyType">@Messages("lbl.copyType"):</label>
           @for((copyType,index) <- helpers.DvdInfoHelper.getCopyTypes.zipWithIndex) {
             <input type="radio" id="copyType" name="copyType" value="@copyType" @if(mode == DvdController.DVD_FORM_EDIT_MODE && copyType == dvdForm("copyType").value() || mode == DvdController.DVD_FORM_ADD_MODE && dvdForm("copyType").value() == null &&  (index == 0 || copyType.equals(User.getCurrentUser().defaultCopyType))|| mode == DvdController.DVD_FORM_ADD_MODE && dvdForm("copyType").value() != null && copyType == dvdForm("copyType").value()){ checked="checked" } /><span><img class="img-rounded" alt="@copyType" src="@routes.Assets.at("images/copy_type/"+copyType+".png")" /></span>
           }


           <label for="ageRating">@Messages("lbl.agerating"):</label>
           @for((rating,index) <- helpers.DvdInfoHelper.getAgeRatings.zipWithIndex) {
             <input type="radio" id="ageRating" name="ageRating" value="@rating" @if(mode == DvdController.DVD_FORM_EDIT_MODE && rating == dvdForm("ageRating").value() || mode == DvdController.DVD_FORM_ADD_MODE && (rating == dvdForm("ageRating").value() || index == 0)){ checked="checked" } /><span><img class="img-rounded" alt="@rating" src="@routes.Assets.at("images/agerating/"+rating+".gif")" /></span>
           }

           <label for="series">@Messages("lbl.audioformats"):</label>
           <input type="hidden" name="audioTypes" id="audioTypes" class="span5" value="@forms.MovieForm.getDvdFormAttributesAsString(dvdForm("audioTypes").value)" data-placeholder="@Messages("lbl.selectAudioTypes")"/>

           @inputText(dvdForm("hullNr"),'_label -> Messages("lbl.hullNr"), 'class -> "span2")

           <div class="clearfix">
             <label for="box">@Messages("lbl.box"):</label>
             <div class="input">
               <input type="hidden" name="box" id="box" value="@dvdForm("box").value" class="span5" data-placeholder="@Messages("lbl.selectBox")"/>
             </div>
           </div>

           <div class="clearfix">
             <label for="collection">@Messages("lbl.collection"):</label>
             <div class="input">
               <input type="hidden" name="collection" id="collection" value="@dvdForm("collection").value" class="span5" data-placeholder="@Messages("lbl.selectCollection")"/>
             </div>
           </div>

           <div class="form-actions">
             @if(mode == DvdController.DVD_FORM_EDIT_MODE) {
               <button type="submit" class="btn btn-primary"><i class="icon-edit"></i> @Messages("btn.editCopy")</button>
             } else {
               <button type="submit" class="btn  btn-primary"><i class="icon-plus"></i> @Messages("btn.addCopy")</button>
             }
             <a class="btn" href="@routes.ListDvdsController.listdvds(null)"><i class="icon-arrow-left"></i> @Messages("btn.back")</a>
           </div>


       </div>
       <div  class="span6 well">
           <h4>@Messages("lbl.pickMovie")</h4>
           @inputText(dvdForm("movieId"),'_label -> Messages("lbl.existingMovie") , '_showConstraints -> true, 'class-> "span6", 'placeholder -> Messages("lbl.enterMovieName"))
           <button class="btn btn-inverse" id="newMovieInfos" type="button"><i class="icon-film"></i> @Messages("btn.newMovie")</button>
           <button class="btn btn-info" id="editMovieInfos" style="display: none;" type="button"><i class="icon-edit"></i> @Messages("btn.editMovie")</button>
       </div>

   </div>
  }

      </div>
    </div>

     
  <!-- NEW MOVIE WRAPPER -->
  <div class="row">
    <div span="12" id="newMovieFormWrapper"></div>
  </div>
}