@(mode: String)(implicit request: Http.Request, messages: play.i18n.Messages)

<div class="form-actions">
  @if(mode == CopyController.DVD_FORM_EDIT_MODE) {
    <button type="button" class="btn btn-primary movieFormSubmitBtn"><i class="icon-edit"></i> @messages("btn.editMovie")</button>
  } else {
    <button type="button" class="btn  btn-primary movieFormSubmitBtn"><i class="icon-plus"></i> @messages("btn.newMovie")</button>
  }
<button type="button" class="btn movieFormCloseBtn" ><i class="icon-chevron-up"></i> @messages("btn.close")</button>
</div>