@(title: String,scripts: Html = Html(""),styles: Html = Html(""))(content: Html)
@import helpers.ECopyListView

@import helper._

@menuContent = {
  <div class="pull-right">

    @defining(ListDvdsController.getCurrentViewMode) { viewMode =>
      <div class="btn-group">
        @for(viewType <- ECopyListView.values()) {
          <a class="btn btn-small @if(viewMode == viewType){active}" href="@routes.ListDvdsController.changeViewMode(viewType.name())"><i class="@viewType.icon"></i></a>
        }
      </div>
    }

    @reservations.menureservationbtn(CopyReservation.getReservationsCount,CopyReservation.getReservedCount,Dvd.getLentDvdsCount,Dvd.getBorrowedDvdsCount)

    <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <img src="@routes.Dashboard.gravatar(16,Secured.getUsername)" width="16" height="16" />
      @Secured.getUsername
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="@routes.UserProfileController.showProfile()"><i class="icon-user"></i> @Messages.apply("lbl.profile")</a></li>
      <li class="divider"></li>
      @for((langCode,langName) <- LanguageController.getLanguages) {
        <li><a href="@routes.LanguageController.changeLanguage(langCode)"><img src="@routes.WebJarAssets.at("famfamfam-flags/0.0/png/"+LanguageController.getLanguageFlags.get(langCode)+".png")" alt="@langCode"/> @langName</a></li>
      }
      <li class="divider"></li>
      <li><a href="@routes.RegisterLoginController.logout"><i class="icon-signout"></i> @Messages.apply("lbl.logout")</a></li>
    </ul>
    </div>
  </div>
          
  <div class="nav-collapse">
    <ul class="nav">
            
      <!--    DVD LIST MENU --> 
      <li class="dropdown" id="listMenu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#listMenu"> @Messages.apply("lbl.list")<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-toggle" href="@routes.ListDvdsController.listAlldvds()"><i class="icon-list-alt"></i> @Messages.apply("lbl.listAll")</a></li>
          <li><a class="dropdown-toggle" href="@routes.ListDvdsController.listByUser(Secured.getUsername)"><i class="icon-user"></i> @Messages.apply("lbl.listOwn")</a></li>
          @*<li><a class="dropdown-toggle" href="@routes.ListDvdsController.listLendDvd()"><i class="icon-user"></i>List Lend</a></li>*@
          @*<li><a class="dropdown-toggle" href="@routes.ListDvdsController.listReviewMovies()"><i class="icon-user"></i>Movies to review</a></li>*@
        </ul>
      </li>
      
            
      <li><a href="@routes.DvdController.showAddDvd"><i class="icon-plus"></i> @Messages.apply("lbl.addCopy")</a></li>

      @ShoppingCartController.getShoppingCartMenuContent

      <li><a href="@routes.BookmarksController.listBookmarks()"><i class="icon-bookmark"></i>(@Bookmark.getBookmarkCopyIdsForUser.size())</a></li>
      <li><a href="@routes.ViewedCopyController.getViewedCopiesForCurrentUser()"><i class="icon-eye-open"> (@ViewedCopy.getCopiesViewedCount())</i></a></li>


    </ul>
  </div>
}

@main(title,menuContent,scripts,styles) {

  @if(flash.contains("success")) {
    <div class="alert alert-success">
    @flash.get("success")
    </div>
  }

  @content
}
