@(title: String,scripts: Html = Html(""),styles: Html = Html(""))(content: Html)

@import helper._

@menuContent = {
  <div class="pull-right">

    @reservations.menureservationbtn(CopyReservation.getReservationsCount,CopyReservation.getReservedCount,Dvd.getLentDvdsCount,Dvd.getBorrowedDvdsCount)

    <div class="btn-group">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <img src="@routes.Dashboard.gravatar(16,Secured.getUsername)" width="16" height="16" />
      @Secured.getUsername
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="@routes.UserProfileController.showProfile()"><i class="icon-user"></i>Profile</a></li>
      <li class="divider"></li>
      <li><a href="@routes.RegisterLoginController.logout"><i class="icon-signout"></i>Sign Out</a></li>
    </ul>
    </div>
  </div>
          
  <div class="nav-collapse">
    <ul class="nav">
            
      <!--    DVD LIST MENU --> 
      <li class="dropdown" id="listMenu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#listMenu">List<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-toggle" href="@routes.ListDvdsController.listAlldvds()"><i class="icon-list-alt"></i>List All</a></li>
          <li><a class="dropdown-toggle" href="@routes.ListDvdsController.listByUser(Secured.getUsername,0)"><i class="icon-user"></i>List Own</a></li>
          <li><a class="dropdown-toggle" href="@routes.ListDvdsController.listLendDvd()"><i class="icon-user"></i>List Lend</a></li>
          @*<li><a class="dropdown-toggle" href="@routes.ListDvdsController.listReviewMovies()"><i class="icon-user"></i>Movies to review</a></li>*@
        </ul>
      </li>
      
            
      <li><a href="@routes.DvdController.showAddDvd"><i class="icon-plus"></i>Add a copy</a></li>

      @ShoppingCartController.getShoppingCartMenuContent
      
      @form(routes.ListDvdsController.searchDvd,'class -> "navbar-search pull-left") {
          <i class="icon-search"></i>
          <input type="text" name="searchFor" class="search-query span2">
      }
    </ul>
  </div>
}

@main(title,menuContent,scripts,styles) {
  @content
}
