@(title: String,scripts: Html = Html(""),styles: Html = Html(""))(content: Html)

@import helper._

@menuContent = {
  <div class="btn-group pull-right">
    <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
      <img src="@routes.Dashboard.gravatar(16,Controller.ctx().session().get(Secured.AUTH_SESSION))" />
      @Controller.ctx().session().get(Secured.AUTH_SESSION)
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="@routes.Dashboard.profile()"><i class="icon-user"></i>Profile</a></li>
      <li class="divider"></li>
      <li><a href="@routes.Application.logout"><i class="icon-signout"></i>Sign Out</a></li>
    </ul>
  </div>
          
  <div class="nav-collapse">
    <ul class="nav">
            
      <!--    DVD LIST MENU --> 
      <li class="dropdown" id="listMenu">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#listMenu">List<b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a class="dropdown-toggle" href="@routes.ListDvds.listAlldvds()"><i class="icon-list-alt"></i>List All</a></li>
          <li><a class="dropdown-toggle" href="@routes.ListDvds.listByUser(Controller.ctx().session().get(Secured.AUTH_SESSION),0)"><i class="icon-user"></i>List Own</a></li>
          <li><a class="dropdown-toggle" href="@routes.ListDvds.listLendDvd()"><i class="icon-user"></i>List Lend</a></li>
          <li><a class="dropdown-toggle" href="@routes.ListDvds.listReviewMovies()"><i class="icon-user"></i>Movies to review</a></li>
        </ul>
      </li>
      
            
      <li><a href="@routes.DvdController.showAddDvd"><i class="icon-plus"></i>Add a dvd</a></li>
      <li><a href="@routes.DvdController.showAddDvd"><i class="icon-shopping-cart"></i>Dvds to borrow</a></li>
      
      @form(routes.ListDvds.searchDvd,'class -> "navbar-search pull-left") {
          <i class="icon-search"></i>
          <input type="text" name="searchFor" class="search-query span2">
      }
    </ul>
  </div>
}

@main(title,menuContent,scripts,styles) {
  @content
}
